# Spatial Analysis Methodology

### 1. Ask questions: 
Formulate hypotheses and spatial
questions.

### 2. Explore the data: 
Examine the data quality,
completeness, and measurement limitations (scale
and resolution) to determine the level of analysis and
interpretation that can be supported.

### 3. Analyze and model: 
Break the problem down into
solvable components that can be modeled. Quantify
and evaluate the spatial questions.

### 4. Interpret the results: 
Evaluate and analyze the results
in the context of the question posed, data limitations,
accuracy, and other implications.

### 5. Repeat as necessary: 
Spatial analysis is a continuous
and iterative process that often leads to further
questions and refinements.

### 6. Present the results: 
The best information and
analysis becomes increasingly valuable when it can be
effectively presented and shared with a larger audience.

### 7. Make a decision: 

Spatial analysis and GIS are used to support the 
decision-making process. A successful spatial analysis 
process often leads to the understanding necessary to 
drive decisions and action.

# 1. Ask Questions

### Regarding Bridge Infrastructure

- Where in the country are the bridges in highest danger of causing safety issues?

- Which states have the worst conditions for bridges in the United States? 

- Which states have the best conditions for bridges in the United States?

- Where are the communities that are most reliant on bridges?

- Where are the communities that are most reliant on bridges that are deemed structurally deficient?

- Given frequency of use, relative economic importance, and potential consequences of failure, which bridges require the most immediate attention?

##### Understanding Where


### Regarding Transit

- Where are the transit deserts in the Washington DC Metro? Consider not just places without access to public transit, but also places with access to poor-quality public transit (e.g. low frequency of routes)

### Regarding Infrastructure Investment Projects

- Given the benefits and circumstances for Boston's big-dig, which other cities would benefit the greatest from a similar project?

- Where are the locations where people most directly invest on their use of infrastructure? (i.e. use of toll-roads)

- Where are the locations where people most indirectly invest on their use of infrastructure? (i.e. all infrastructure paid for via sales or gas taxes)

### Regarding Ports

- Can we classify each of the nation's ports into a typology based on the seven designations assigned by MARAD?

- Where are the nation's ferry routes in any given month?

# 2. Explore Data

## Regarding Bridge Infrastructure

Import needed modules

In [2]:
import pandas as pd
import arcgis
import getpass

Set workspace

In [3]:
workspace = r"C:\Users\albe9057\Documents\GitHub\Infrastructure_Analysis"

In [5]:
portals_dict = {
    "esrifederal_gis": r"https://esrifederal.maps.arcgis.com",
    "natgov_gis": r"http://esri-natgov105.eastus.cloudapp.azure.com/arcgis",
    "dot_gis": r"http://dot.esri.com/portal",
    "dev_gis": r"http://govdev.eastus.cloudapp.azure.com/arcgis",
    "local_gis": r"https://anieto.esri.com/arcgis",
    "brett_gis": r"https://agsbase.dcwebgis.net/portal",
    "bill_gis": r"https://idt.esri.com/portal"
}

gis_url = portals_dict["bill_gis"]

if gis_url == portals_dict["esrifederal_gis"]:
    gis_app_id = r"wt3QUR1M4eum0TVI"
    print("Attempting to log in to '{0}'...".format(gis_url))
    gis = arcgis.gis.GIS(gis_url, client_id=gis_app_id)
    print("Successfully logged in as: " + gis.properties.user.username)
else:
    gis_username = getpass.getpass(prompt="Username: ")
    gis_pw = getpass.getpass(prompt="Password: ")
    print("Attempting to log in to '{0}'...".format(gis_url))
    gis = arcgis.gis.GIS(gis_url, gis_username, gis_pw, verify_cert=False)
    print("Successfully logged in as: " + gis.properties.user.username)

Username: ········
Password: ········
Attempting to log in to 'https://idt.esri.com/portal'...
Successfully logged in as: anieto

#### Regarding States Bridge Condition Statistics

Search for states content in the GIS

In [74]:
# search for USA states - area / polygon data
states_search = gis.content.search("title:US_states and owner:albe9057@esri.com_esrifederal", 
                                   "feature layer")
states_item = states_search[0]
states_item

Set reference to FHWA States HTML Table

In [27]:
fhwa_states_bridges_url = r"https://www.fhwa.dot.gov/bridge/nbi/no10/condition16.cfm"

In [28]:
fhwa_states_bridges_df = pd.read_html(fhwa_states_bridges_url)[0]
fhwa_states_bridges_df

,State,# All Bridges,# Good,# Fair,# Poor,Total Area,Good Area,Fair Area,Poor Area
0,ALABAMA,16098,7040,8338,720,9238041,3655465,5329991,252585
1,ALASKA,1488,644,702,141,710704,272581,378038,60040
2,ARIZONA,8154,4931,3042,181,5055871,2531160,2382734,141977
3,ARKANSAS,12871,6984,5291,596,6381829,3181917,2786039,413873
4,CALIFORNIA,25431,16788,7439,1204,29478068,18644074,9141389,1692605
5,COLORADO,8682,3861,4364,455,4928137,2510935,2196537,220495
6,CONNECTICUT,4214,1250,2628,336,3265917,598052,2211627,456237
7,DELAWARE,877,267,567,43,978596,164793,761239,52565
8,DIST. OF COL.,245,67,169,9,568827,86987,453801,28039
9,FLORIDA,12313,8534,3545,233,16759416,11232342,5149876,376033
10,GEORGIA,14835,7021,7275,539,9404058,4729225,4440092,234742
11,HAWAII,1132,436,634,62,1319917,358370,942557,18989
12,IDAHO,4445,1218,2867,360,1723199,440164,1175413,107622
13,ILLINOIS,26704,13815,10732,2157,13004417,5122813,6534662,1346942
14,INDIANA,19245,7876,9902,1464,7997458,3555887,3970859,469032
15,IOWA,24184,9182,10300,4671,8248470,3670682,3719124,856322
16,KANSAS,25013,13890,9664,1458,8192549,5406322,2545021,241147
17,KENTUCKY,14265,5471,7733,1059,6053639,2368980,3335062,348738
18,LOUISIANA,12915,6647,4730,1534,16387706,7876622,7021946,1488330
19,MAINE,2450,774,1337,339,1217856,464261,648569,105027
20,MARYLAND,5321,1782,3242,297,5155225,1489367,3486651,179207
21,MASSACHUSETTS,5171,1409,3294,468,4055694,888577,2572176,594941
22,MICHIGAN,11156,4674,5274,1202,6357402,2391519,3395873,569394
23,MINNESOTA,13355,8431,4144,776,6455617,3707646,2447826,298304
24,MISSISSIPPI,17068,11104,4480,1479,9093624,5911845,2776915,404221
25,MISSOURI,24468,11009,11335,2124,10361960,4446311,5047221,868429
26,MONTANA,5276,1841,3066,369,2000704,568632,1273332,158739
27,NEBRASKA,15334,7899,5945,1478,3969666,2275543,1459582,233401
28,NEVADA,1933,981,925,27,1595544,768109,815529,11906
29,NEW HAMPSHIRE,2486,1321,916,249,1120426,633143,385777,101506
30,NEW JERSEY,6730,1882,4280,568,6878063,1692627,4655124,530312
31,NEW MEXICO,3973,1511,2212,250,1728339,667164,968523,92652
32,NEW YORK,17462,6215,9342,1884,12869629,3305860,8103332,1448499
33,NORTH CAROLINA,18099,7764,8564,1764,9221998,4185933,4190659,841275
34,NORTH DAKOTA,4400,2323,1567,509,1232040,693676,465871,72388
35,OHIO,28284,15957,10445,1882,13317571,7327592,5435717,554262
36,OKLAHOMA,23053,10900,9273,2877,8350749,4158923,3496916,694269
37,OREGON,8118,3063,4655,398,5017158,1168751,3677492,170627
38,PENNSYLVANIA,22791,6539,11821,4430,12377123,3453038,7597766,1325791
39,RHODE ISLAND,772,128,452,192,786182,124630,464259,197294
40,SOUTH CAROLINA,9358,4256,4276,826,6800337,3218877,3156739,424721
41,SOUTH DAKOTA,5849,1879,2915,1055,1664937,399380,1089217,176339
42,TENNESSEE,20123,9990,9207,924,9659962,4347862,4838725,473155
43,TEXAS,53488,28168,24667,653,47253739,25040038,21691402,522299
44,UTAH,3039,1760,1191,88,1922456,1080203,817734,24519
45,VERMONT,2766,1458,1225,83,853120,419485,398780,34855
46,VIRGINIA,13892,4857,8154,881,9620709,3379558,5792054,449097
47,WASHINGTON,8178,4337,3477,364,6890270,2716859,3582779,590633
48,WEST VIRGINIA,7217,2641,3353,1222,3805060,1077213,2310910,416833
49,WISCONSIN,14230,7413,5725,1092,6706707,3524686,2849283,332738
50,WYOMING,3128,780,2029,319,1269969,177613,940085,152270
51,PUERTO RICO,2308,444,1596,268,2157266,472465,1456118,228682
52,TOTALS,614387,291412,274306,48559,371463919,172584754,176764943,22084898

In [29]:
fhwa_states_bridges_df.to_csv(workspace + "//fhwa_states_bridge_stats.csv")
fhwa_states_bridges_csv = workspace + "//fhwa_states_bridge_stats.csv"
fhwa_states_bridges_csv

'C:\\Users\\albe9057\\Documents\\GitHub\\Infrastructure_Analysis//fhwa_states_bridge_stats.csv'

In [30]:
fhwa_states_bridges_csv_item = gis.content.add({}, fhwa_states_bridges_csv)
fhwa_states_bridges_csv_item

In [76]:
fhwa_states_bridges_item = fhwa_states_bridges_csv_item.publish(overwrite=True)
fhwa_states_bridges_item

In [77]:
m = gis.map("United States")
m

In [78]:
m.add_layer(states_item)
m.add_layer(fhwa_states_bridges_item)

Aggregate stats by state

In [79]:
bridges_fl = fhwa_states_bridges_item.layers[0]
states_fl = states_item.layers[0]

In [80]:
states_fl

In [81]:
#query the fields in eq_fl layer
for field in bridges_fl.properties.fields:
    print(field['name'])

State
F__All_Bridges
F__Good
F__Fair
F__Poor
Total_Area
Good_Area
Fair_Area
Poor_Area
FID

In [82]:
# similarly for states data
for field in states_fl.properties.fields:
    print(field['name'], end="\t")

OBJECTID	STATE_NAME	STATE_FIPS	SUB_REGION	STATE_ABBR	POPULATION	POP_SQMI	POP2010	POP10_SQMI	WHITE	BLACK	AMERI_ES	ASIAN	HAWN_PI	HISPANIC	OTHER	MULT_RACE	MALES	FEMALES	AGE_UNDER5	AGE_5_9	AGE_10_14	AGE_15_19	AGE_20_24	AGE_25_34	AGE_35_44	AGE_45_54	AGE_55_64	AGE_65_74	AGE_75_84	AGE_85_UP	MED_AGE	MED_AGE_M	MED_AGE_F	HOUSEHOLDS	AVE_HH_SZ	HSEHLD_1_M	HSEHLD_1_F	MARHH_CHD	MARHH_NO_C	MHH_CHILD	FHH_CHILD	FAMILIES	AVE_FAM_SZ	HSE_UNITS	VACANT	OWNER_OCC	RENTER_OCC	NO_FARMS12	AVE_SIZE12	CROP_ACR12	AVE_SALE12	SQMI	Shape__Area	Shape__Length

In [84]:
from arcgis.features import summarize_data
sum_fields = ['F__All_Bridges', 'F__Good', 'F__Fair', 'F__Poor',
              'Total_Area', 'Good_Area', 'Fair_Area', 'Poor_Area']
bridge_summary = summarize_data.aggregate_points(point_layer = bridges_fl,
                                            polygon_layer = states_fl,
                                            keep_boundaries_with_no_points=True,
                                            summary_fields=sum_fields)

{"messageCode": "AO_100001", "message": "AggregatePoints failed."}
Failed to execute (AggregatePoints).
Failed.

Exception: Job failed.

#### Regarding Individual Bridge Conditions

Set reference to downloaded NBI data

In [1]:
nbi_all = r"D:\ANieto_SolutionEngineer\Data\DOT\FHWA\NBI\2017allstatesallrecsdel\2017AllRecordsDelimitedAllStates.txt"
nbi_highways = r"D:\ANieto_SolutionEngineer\Data\DOT\FHWA\NBI\2017hwybronlyonefile\2017HwyBridgesDelimitedAllStates.txt"

In [7]:
nbi_all_df = pd.read_csv(nbi_all, encoding="ISO-8859-1")
nbi_all_df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,2,5,7,17,31,36,37,38,39,41,44,61,63,66,67,68,69,70,71,73,75,76,77,79,86,87,88,96,98,102,106,107,108,109,113,114,119,120,121,123,124,130,131,133) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,PLACE_CODE_004,...,PROJ_NO,PROJ_SUFFIX,NBI_TYPE_OF_IMP,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE
0,1,00000000000S702,1,6.0,1.0,04007,0.0,9,53.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
1,1,00000000000S703,1,6.0,1.0,04003,0.0,9,53.0,3004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
2,1,0000000000M0022,1,8.0,1.0,00000,0.0,0,113.0,27568.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,69.5,0
3,1,000000883039900,1,4.0,1.0,00088,0.0,2,59.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,90.2,0
4,1,000001014002450,1,3.0,1.0,00101,0.0,2,79.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,49.9,2
5,1,000001331700710,1,6.0,2.0,00000,0.0,2,33.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,61.3,2
6,1,000002,1,4.0,1.0,00000,0.0,10,127.0,0.0,...,6800008,0.0,14.0,17.0,NaN,NaN,1,NaN,16.9,1
7,1,000004,1,4.0,1.0,00000,0.0,10,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0.0,1
8,1,000004504800350,1,6.0,8.0,00000,0.0,1,95.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,72.8,0
9,1,000005,1,5.0,0.0,00000,0.0,10,75.0,48808.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,22.1,1
10,1,000007,1,4.0,1.0,00010,0.0,1,49.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,99.0,0
11,1,000008,1,4.0,1.0,00027,0.0,5,7.0,0.0,...,0400205,0.0,14.0,10.0,NaN,NaN,1,NaN,40.6,1
12,1,00000B253040000,1,4.0,1.0,00037,0.0,2,59.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,93.1,0
13,1,00000BLN0BR0010,1,8.0,8.0,00000,0.0,1,71.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,96.7,0
14,1,00000T721700150,1,6.0,8.0,00000,0.0,2,33.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,89.9,0
15,1,000010,1,4.0,1.0,01066,0.0,5,119.0,91935.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,14.7,1
16,1,000012,1,4.0,1.0,00091,0.0,1,71.0,9328.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,74.9,2
17,1,000013771700120,1,6.0,0.0,00000,0.0,2,33.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,79.9,2
18,1,000018,1,4.0,1.0,00437,0.0,1,89.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,24.5,1
19,1,000019,1,4.0,1.0,00438,0.0,1,89.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,81.7,0
20,1,000022,1,4.0,1.0,00045,0.0,1,49.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,26.1,1
21,1,000024,1,5.0,1.0,00000,0.0,3,117.0,7000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,20.6,1
22,1,000029,1,4.0,1.0,00001,0.0,1,49.0,0.0,...,0012510,0.0,10.0,10.0,NaN,NaN,1,NaN,19.3,1
23,1,000037,1,4.0,1.0,00000,0.0,4,37.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,49.8,0
24,1,000039,1,5.0,0.0,00000,0.0,4,17.0,78204.0,...,6100200,0.0,11.0,15.0,NaN,NaN,1,NaN,33.9,1
25,1,000040,1,5.0,1.0,00000,0.0,3,73.0,7000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,37.6,1
26,1,000041,1,4.0,1.0,00001,0.0,4,123.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,51.9,2
27,1,000042,1,2.0,1.0,00011,0.0,3,73.0,7000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,58.5,2
28,1,000043660-00015,1,6.0,0.0,00000,0.0,4,103.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,41.3,2
29,1,000043660-00016,1,6.0,0.0,00000,0.0,4,103.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,34.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727451,72,028491,2,3.0,1.0,00005,0.0,NaN,135.0,57548.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727452,72,028531,2,5.0,0.0,00000,0.0,NaN,97.0,52431.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727453,72,028651,2,1.0,1.0,00002,0.0,NaN,125.0,73673.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727454,72,028761,2,3.0,1.0,00002,0.0,NaN,67.0,35059.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727455,72,028771,2,3.0,1.0,00319,0.0,NaN,67.0,35059.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727456,72,028801,2,5.0,0.0,00000,0.0,NaN,127.0,76770.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727457,72,028851,2,3.0,1.0,00114,0.0,NaN,67.0,35059.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727458,72,028881,2,5.0,0.0,00000,0.0,NaN,113.0,64041.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727459,72,028891,2,3.0,1.0,00010,0.0,NaN,113.0,64041.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727460,72,028941,2,5.0,0.0,00000,0.0,NaN,113.0,12355.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727461,72,028971,2,8.0,8.0,00000,0.0,NaN,35.0,15537.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727462,72,028991,2,5.0,0.0,00000,0.0,NaN,125.0,76167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727463,72,029001,2,1.0,1.0,00002,0.0,NaN,125.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727464,72,029011,2,1.0,1.0,00053,0.0,NaN,95.0,26545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727465,72,029082,2,5.0,1.0,00000,0.0,NaN,95.0,26545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727466,72,029092,2,5.0,1.0,00000,0.0,NaN,95.0,26545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727467,72,029261,2,3.0,1.0,00123,0.0,NaN,141.0,75135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727468,72,029341,2,NaN,0.0,0000_,NaN,NaN,67.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727469,72,029391,2,1.0,1.0,00066,0.0,NaN,29.0,12828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727470,72,029461,2,3.0,1.0,00603,0.0,NaN,141.0,3884.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727471,72,029471,2,4.0,4.0,00000,0.0,NaN,141.0,75135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727472,72,029651,2,3.0,1.0,00956,0.0,NaN,119.0,33081.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727473,72,029721,2,1.0,1.0,00066,0.0,NaN,119.0,18332.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727474,72,029761,2,1.0,1.0,00066,0.0,NaN,119.0,18332.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727475,72,029791,2,1.0,1.0,00022,0.0,NaN,137.0,11581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727476,72,029851,2,5.0,0.0,00000,0.0,NaN,113.0,12355.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727477,72,030011,2,3.0,1.0,00017,0.0,NaN,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727478,72,030021,2,3.0,1.0,00017,0.0,NaN,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727479,72,030031,2,3.0,1.0,00017,0.0,NaN,127.0,57247.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727480,72,030221,2,3.0,0.0,00000,0.0,NaN,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nbi_highways_df = pd.read_csv(nbi_highways, encoding="ISO-8859-1")
nbi_highways_df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,5,7,17,31,36,37,38,39,71,73,75,96,98,102,107,108,109,123,124) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,PLACE_CODE_004,...,PROJ_NO,PROJ_SUFFIX,NBI_TYPE_OF_IMP,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE
0,1,00000000000S702,1,6.0,1.0,04007,0.0,9,53.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
1,1,00000000000S703,1,6.0,1.0,04003,0.0,9,53.0,3004,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
2,1,0000000000M0022,1,8.0,1.0,00000,0.0,0,113.0,27568,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,69.5,0
3,1,000000883039900,1,4.0,1.0,00088,0.0,2,59.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,90.2,0
4,1,000001014002450,1,3.0,1.0,00101,0.0,2,79.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,49.9,2
5,1,000001331700710,1,6.0,2.0,00000,0.0,2,33.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,61.3,2
6,1,000002,1,4.0,1.0,00000,0.0,10,127.0,0,...,6800008,0.0,14.0,17.0,NaN,NaN,1,NaN,16.9,1
7,1,000004,1,4.0,1.0,00000,0.0,10,127.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0.0,1
8,1,000004504800350,1,6.0,8.0,00000,0.0,1,95.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,72.8,0
9,1,000005,1,5.0,0.0,00000,0.0,10,75.0,48808,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,22.1,1
10,1,000007,1,4.0,1.0,00010,0.0,1,49.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,99.0,0
11,1,000008,1,4.0,1.0,00027,0.0,5,7.0,0,...,0400205,0.0,14.0,10.0,NaN,NaN,1,NaN,40.6,1
12,1,00000B253040000,1,4.0,1.0,00037,0.0,2,59.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,93.1,0
13,1,00000BLN0BR0010,1,8.0,8.0,00000,0.0,1,71.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,96.7,0
14,1,00000T721700150,1,6.0,8.0,00000,0.0,2,33.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,89.9,0
15,1,000010,1,4.0,1.0,01066,0.0,5,119.0,91935,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,14.7,1
16,1,000012,1,4.0,1.0,00091,0.0,1,71.0,9328,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,74.9,2
17,1,000013771700120,1,6.0,0.0,00000,0.0,2,33.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,79.9,2
18,1,000018,1,4.0,1.0,00437,0.0,1,89.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,24.5,1
19,1,000019,1,4.0,1.0,00438,0.0,1,89.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,81.7,0
20,1,000022,1,4.0,1.0,00045,0.0,1,49.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,26.1,1
21,1,000024,1,5.0,1.0,00000,0.0,3,117.0,7000,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,20.6,1
22,1,000029,1,4.0,1.0,00001,0.0,1,49.0,0,...,0012510,0.0,10.0,10.0,NaN,NaN,1,NaN,19.3,1
23,1,000037,1,4.0,1.0,00000,0.0,4,37.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,49.8,0
24,1,000039,1,5.0,0.0,00000,0.0,4,17.0,78204,...,6100200,0.0,11.0,15.0,NaN,NaN,1,NaN,33.9,1
25,1,000040,1,5.0,1.0,00000,0.0,3,73.0,7000,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,37.6,1
26,1,000041,1,4.0,1.0,00001,0.0,4,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,51.9,2
27,1,000042,1,2.0,1.0,00011,0.0,3,73.0,7000,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,58.5,2
28,1,000043660-00015,1,6.0,0.0,00000,0.0,4,103.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,41.3,2
29,1,000043660-00016,1,6.0,0.0,00000,0.0,4,103.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,34.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614972,72,030031,1,3.0,7.0,00000,0.0,1,127.0,57247,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,96.0,2
614973,72,030041,1,5.0,0.0,00000,0.0,7,147.0,55312,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,75.4,2
614974,72,030052,1,3.0,1.0,00002,0.0,5,153.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,85.0,0
614975,72,030062,1,3.0,1.0,00002,0.0,5,153.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,85.0,0
614976,72,030071,1,5.0,1.0,00000,0.0,1,61.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,93.9,0
614977,72,030081,1,1.0,1.0,00000,0.0,5,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,53.5,2
614978,72,030091,1,5.0,2.0,00000,0.0,2,47.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,80.1,2
614979,72,030101,1,5.0,1.0,00000,0.0,3,3.0,31963,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,91.0,0
614980,72,030131,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,78.0,2
614981,72,030141,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,78.0,2
614982,72,030151,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,51.0,1
614983,72,030161,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,78.0,2
614984,72,030181,1,8.0,0.0,00000,0.0,4,131.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,*,78.0,2
614985,72,030221,1,3.0,7.0,00181,0.0,1,127.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,77.0,2
614986,72,030261,1,3.0,1.0,00368,0.0,5,153.0,81069,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,96.9,0
614987,72,030271,1,5.0,0.0,00000,0.0,6,45.0,23879,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,71.9,2
614988,72,030281,1,5.0,2.0,0000_,0.0,7,69.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,75.5,2
614989,72,030291,1,8.0,8.0,00000,0.0,6,41.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,81.0,2
614990,72,030381,1,3.0,0.0,00014,0.0,5,43.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,81.0,2
614991,72,000041521-63233,1,6.0,0.0,00000,0.0,4,23.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,83.7,0
614992,72,000041528-41231,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,84.5,0
614993,72,000041528-50040,1,6.0,0.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,97.9,0
614994,72,000041528-50130,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,83.5,0
614995,72,000041528-TMP22,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,96.0,0
614996,72,000041528-TMP26,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,74.0,0
614997,72,DAPASOBUC000157,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,87.9,0
614998,72,DAPASOBUC000542,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,99.7,0
614999,72,DAPASOBUC000602,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,2,*,80.8,2
615000,72,DAPASOBUC000603,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,100.0,0
615001,72,DAPASOBUC00C009,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,80.9,0

# 3. Analyze and Model

# 4. Interpret the Results

# 5. Repeat as Necessary

# 6. Present the Results

# 7. Make a Decision