# Spatial Analysis Methodology

### 1. Ask questions: 
Formulate hypotheses and spatial
questions.

### 2. Explore the data: 
Examine the data quality,
completeness, and measurement limitations (scale
and resolution) to determine the level of analysis and
interpretation that can be supported.

### 3. Analyze and model: 
Break the problem down into
solvable components that can be modeled. Quantify
and evaluate the spatial questions.

### 4. Interpret the results: 
Evaluate and analyze the results
in the context of the question posed, data limitations,
accuracy, and other implications.

### 5. Repeat as necessary: 
Spatial analysis is a continuous
and iterative process that often leads to further
questions and refinements.

### 6. Present the results: 
The best information and
analysis becomes increasingly valuable when it can be
effectively presented and shared with a larger audience.

### 7. Make a decision: 

Spatial analysis and GIS are used to support the 
decision-making process. A successful spatial analysis 
process often leads to the understanding necessary to 
drive decisions and action.

# 1. Ask Questions

### Regarding Bridge Infrastructure

- Where in the country are the bridges in highest danger of causing safety issues?

- Which states have the worst conditions for bridges in the United States? 

- Which states have the best conditions for bridges in the United States?

- Where are the communities that are most reliant on bridges?

- Where are the communities that are most reliant on bridges that are deemed structurally deficient?

- Given frequency of use, relative economic and strategic importance, and potential consequences of failure on the transportation network, which bridges require the most immediate attention?

# 2. Explore Data

## Exploring Bridge Data (NBI)

Import needed modules

In [4]:
import pandas as pd
import arcgis
import arcpy
import os

Set workspace

In [5]:
workspace = r"C:\Users\albe9057\Documents\GitHub\Infrastructure_Analysis"

In [6]:
gis = arcgis.gis.GIS(url="https://ndirt.maps.arcgis.com", username="ANieto_ndirt")

Enter password: ········

#### Regarding Individual Bridge Conditions

Set reference to downloaded NBI data

In [9]:
nbi_all = r"D:\ANieto_SolutionEngineer\Data\DOT\FHWA\NBI\2017allstatesallrecsdel\2017AllRecordsDelimitedAllStates.txt"
nbi_highways = r"D:\ANieto_SolutionEngineer\Data\DOT\FHWA\NBI\2017hwybronlyonefile\2017HwyBridgesDelimitedAllStates.txt"

In [10]:
nbi_all_df = pd.read_csv(nbi_all, encoding="ISO-8859-1")
nbi_all_df

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (1,2,5,7,17,31,36,37,38,39,41,44,61,63,66,67,68,69,70,71,73,75,76,77,79,86,87,88,96,98,102,106,107,108,109,113,114,119,120,121,123,124,130,131,133) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,PLACE_CODE_004,...,PROJ_NO,PROJ_SUFFIX,NBI_TYPE_OF_IMP,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE
0,1,00000000000S702,1,6.0,1.0,04007,0.0,9,53.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
1,1,00000000000S703,1,6.0,1.0,04003,0.0,9,53.0,3004.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
2,1,0000000000M0022,1,8.0,1.0,00000,0.0,0,113.0,27568.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,69.5,0
3,1,000000883039900,1,4.0,1.0,00088,0.0,2,59.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,90.2,0
4,1,000001014002450,1,3.0,1.0,00101,0.0,2,79.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,49.9,2
5,1,000001331700710,1,6.0,2.0,00000,0.0,2,33.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,61.3,2
6,1,000002,1,4.0,1.0,00000,0.0,10,127.0,0.0,...,6800008,0.0,14.0,17.0,NaN,NaN,1,NaN,16.9,1
7,1,000004,1,4.0,1.0,00000,0.0,10,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0.0,1
8,1,000004504800350,1,6.0,8.0,00000,0.0,1,95.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,72.8,0
9,1,000005,1,5.0,0.0,00000,0.0,10,75.0,48808.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,22.1,1
10,1,000007,1,4.0,1.0,00010,0.0,1,49.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,99.0,0
11,1,000008,1,4.0,1.0,00027,0.0,5,7.0,0.0,...,0400205,0.0,14.0,10.0,NaN,NaN,1,NaN,40.6,1
12,1,00000B253040000,1,4.0,1.0,00037,0.0,2,59.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,93.1,0
13,1,00000BLN0BR0010,1,8.0,8.0,00000,0.0,1,71.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,96.7,0
14,1,00000T721700150,1,6.0,8.0,00000,0.0,2,33.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,89.9,0
15,1,000010,1,4.0,1.0,01066,0.0,5,119.0,91935.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,14.7,1
16,1,000012,1,4.0,1.0,00091,0.0,1,71.0,9328.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,74.9,2
17,1,000013771700120,1,6.0,0.0,00000,0.0,2,33.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,79.9,2
18,1,000018,1,4.0,1.0,00437,0.0,1,89.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,24.5,1
19,1,000019,1,4.0,1.0,00438,0.0,1,89.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,81.7,0
20,1,000022,1,4.0,1.0,00045,0.0,1,49.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,26.1,1
21,1,000024,1,5.0,1.0,00000,0.0,3,117.0,7000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,20.6,1
22,1,000029,1,4.0,1.0,00001,0.0,1,49.0,0.0,...,0012510,0.0,10.0,10.0,NaN,NaN,1,NaN,19.3,1
23,1,000037,1,4.0,1.0,00000,0.0,4,37.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,49.8,0
24,1,000039,1,5.0,0.0,00000,0.0,4,17.0,78204.0,...,6100200,0.0,11.0,15.0,NaN,NaN,1,NaN,33.9,1
25,1,000040,1,5.0,1.0,00000,0.0,3,73.0,7000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,37.6,1
26,1,000041,1,4.0,1.0,00001,0.0,4,123.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,51.9,2
27,1,000042,1,2.0,1.0,00011,0.0,3,73.0,7000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,58.5,2
28,1,000043660-00015,1,6.0,0.0,00000,0.0,4,103.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,41.3,2
29,1,000043660-00016,1,6.0,0.0,00000,0.0,4,103.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,34.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727451,72,028491,2,3.0,1.0,00005,0.0,NaN,135.0,57548.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727452,72,028531,2,5.0,0.0,00000,0.0,NaN,97.0,52431.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727453,72,028651,2,1.0,1.0,00002,0.0,NaN,125.0,73673.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727454,72,028761,2,3.0,1.0,00002,0.0,NaN,67.0,35059.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727455,72,028771,2,3.0,1.0,00319,0.0,NaN,67.0,35059.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727456,72,028801,2,5.0,0.0,00000,0.0,NaN,127.0,76770.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727457,72,028851,2,3.0,1.0,00114,0.0,NaN,67.0,35059.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727458,72,028881,2,5.0,0.0,00000,0.0,NaN,113.0,64041.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727459,72,028891,2,3.0,1.0,00010,0.0,NaN,113.0,64041.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727460,72,028941,2,5.0,0.0,00000,0.0,NaN,113.0,12355.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727461,72,028971,2,8.0,8.0,00000,0.0,NaN,35.0,15537.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727462,72,028991,2,5.0,0.0,00000,0.0,NaN,125.0,76167.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727463,72,029001,2,1.0,1.0,00002,0.0,NaN,125.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727464,72,029011,2,1.0,1.0,00053,0.0,NaN,95.0,26545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727465,72,029082,2,5.0,1.0,00000,0.0,NaN,95.0,26545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727466,72,029092,2,5.0,1.0,00000,0.0,NaN,95.0,26545.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727467,72,029261,2,3.0,1.0,00123,0.0,NaN,141.0,75135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727468,72,029341,2,NaN,0.0,0000_,NaN,NaN,67.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727469,72,029391,2,1.0,1.0,00066,0.0,NaN,29.0,12828.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727470,72,029461,2,3.0,1.0,00603,0.0,NaN,141.0,3884.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727471,72,029471,2,4.0,4.0,00000,0.0,NaN,141.0,75135.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727472,72,029651,2,3.0,1.0,00956,0.0,NaN,119.0,33081.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727473,72,029721,2,1.0,1.0,00066,0.0,NaN,119.0,18332.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727474,72,029761,2,1.0,1.0,00066,0.0,NaN,119.0,18332.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727475,72,029791,2,1.0,1.0,00022,0.0,NaN,137.0,11581.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727476,72,029851,2,5.0,0.0,00000,0.0,NaN,113.0,12355.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727477,72,030011,2,3.0,1.0,00017,0.0,NaN,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727478,72,030021,2,3.0,1.0,00017,0.0,NaN,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727479,72,030031,2,3.0,1.0,00017,0.0,NaN,127.0,57247.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727480,72,030221,2,3.0,0.0,00000,0.0,NaN,127.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
nbi_highways_df = pd.read_csv(nbi_highways, encoding="ISO-8859-1")
nbi_highways_df

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (1,5,7,17,31,36,37,38,39,71,73,75,96,98,102,107,108,109,123,124) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,PLACE_CODE_004,...,PROJ_NO,PROJ_SUFFIX,NBI_TYPE_OF_IMP,DTL_TYPE_OF_IMP,SPECIAL_CODE,STEP_CODE,STATUS_WITH_10YR_RULE,SUFFICIENCY_ASTERC,SUFFICIENCY_RATING,STATUS_NO_10YR_RULE
0,1,00000000000S702,1,6.0,1.0,04007,0.0,9,53.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
1,1,00000000000S703,1,6.0,1.0,04003,0.0,9,53.0,3004,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,100.0,0
2,1,0000000000M0022,1,8.0,1.0,00000,0.0,0,113.0,27568,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,69.5,0
3,1,000000883039900,1,4.0,1.0,00088,0.0,2,59.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,90.2,0
4,1,000001014002450,1,3.0,1.0,00101,0.0,2,79.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,49.9,2
5,1,000001331700710,1,6.0,2.0,00000,0.0,2,33.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,61.3,2
6,1,000002,1,4.0,1.0,00000,0.0,10,127.0,0,...,6800008,0.0,14.0,17.0,NaN,NaN,1,NaN,16.9,1
7,1,000004,1,4.0,1.0,00000,0.0,10,127.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,0.0,1
8,1,000004504800350,1,6.0,8.0,00000,0.0,1,95.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,72.8,0
9,1,000005,1,5.0,0.0,00000,0.0,10,75.0,48808,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,22.1,1
10,1,000007,1,4.0,1.0,00010,0.0,1,49.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,99.0,0
11,1,000008,1,4.0,1.0,00027,0.0,5,7.0,0,...,0400205,0.0,14.0,10.0,NaN,NaN,1,NaN,40.6,1
12,1,00000B253040000,1,4.0,1.0,00037,0.0,2,59.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,93.1,0
13,1,00000BLN0BR0010,1,8.0,8.0,00000,0.0,1,71.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,96.7,0
14,1,00000T721700150,1,6.0,8.0,00000,0.0,2,33.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,89.9,0
15,1,000010,1,4.0,1.0,01066,0.0,5,119.0,91935,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,14.7,1
16,1,000012,1,4.0,1.0,00091,0.0,1,71.0,9328,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,74.9,2
17,1,000013771700120,1,6.0,0.0,00000,0.0,2,33.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,79.9,2
18,1,000018,1,4.0,1.0,00437,0.0,1,89.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,24.5,1
19,1,000019,1,4.0,1.0,00438,0.0,1,89.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,81.7,0
20,1,000022,1,4.0,1.0,00045,0.0,1,49.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,26.1,1
21,1,000024,1,5.0,1.0,00000,0.0,3,117.0,7000,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,20.6,1
22,1,000029,1,4.0,1.0,00001,0.0,1,49.0,0,...,0012510,0.0,10.0,10.0,NaN,NaN,1,NaN,19.3,1
23,1,000037,1,4.0,1.0,00000,0.0,4,37.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,49.8,0
24,1,000039,1,5.0,0.0,00000,0.0,4,17.0,78204,...,6100200,0.0,11.0,15.0,NaN,NaN,1,NaN,33.9,1
25,1,000040,1,5.0,1.0,00000,0.0,3,73.0,7000,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,37.6,1
26,1,000041,1,4.0,1.0,00001,0.0,4,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,51.9,2
27,1,000042,1,2.0,1.0,00011,0.0,3,73.0,7000,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,58.5,2
28,1,000043660-00015,1,6.0,0.0,00000,0.0,4,103.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,41.3,2
29,1,000043660-00016,1,6.0,0.0,00000,0.0,4,103.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,34.3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
614972,72,030031,1,3.0,7.0,00000,0.0,1,127.0,57247,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,96.0,2
614973,72,030041,1,5.0,0.0,00000,0.0,7,147.0,55312,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,75.4,2
614974,72,030052,1,3.0,1.0,00002,0.0,5,153.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,85.0,0
614975,72,030062,1,3.0,1.0,00002,0.0,5,153.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,85.0,0
614976,72,030071,1,5.0,1.0,00000,0.0,1,61.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,93.9,0
614977,72,030081,1,1.0,1.0,00000,0.0,5,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,53.5,2
614978,72,030091,1,5.0,2.0,00000,0.0,2,47.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,80.1,2
614979,72,030101,1,5.0,1.0,00000,0.0,3,3.0,31963,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,91.0,0
614980,72,030131,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,78.0,2
614981,72,030141,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,78.0,2
614982,72,030151,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,51.0,1
614983,72,030161,1,5.0,2.0,00000,0.0,6,123.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,78.0,2
614984,72,030181,1,8.0,0.0,00000,0.0,4,131.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,2,*,78.0,2
614985,72,030221,1,3.0,7.0,00181,0.0,1,127.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,77.0,2
614986,72,030261,1,3.0,1.0,00368,0.0,5,153.0,81069,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,96.9,0
614987,72,030271,1,5.0,0.0,00000,0.0,6,45.0,23879,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,71.9,2
614988,72,030281,1,5.0,2.0,0000_,0.0,7,69.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,75.5,2
614989,72,030291,1,8.0,8.0,00000,0.0,6,41.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,81.0,2
614990,72,030381,1,3.0,0.0,00014,0.0,5,43.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,81.0,2
614991,72,000041521-63233,1,6.0,0.0,00000,0.0,4,23.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,83.7,0
614992,72,000041528-41231,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,84.5,0
614993,72,000041528-50040,1,6.0,0.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,97.9,0
614994,72,000041528-50130,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,83.5,0
614995,72,000041528-TMP22,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,96.0,0
614996,72,000041528-TMP26,1,6.0,1.0,00000,0.0,4,147.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,74.0,0
614997,72,DAPASOBUC000157,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,87.9,0
614998,72,DAPASOBUC000542,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,99.7,0
614999,72,DAPASOBUC000602,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,2,*,80.8,2
615000,72,DAPASOBUC000603,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,100.0,0
615001,72,DAPASOBUC00C009,1,8.0,0.0,00000,0.0,0,61.0,29125,...,NaN,NaN,NaN,NaN,NaN,NaN,0,*,80.9,0

In [12]:
for column in nbi_highways_df.columns:
    print(column)

STATE_CODE_001
STRUCTURE_NUMBER_008
RECORD_TYPE_005A
ROUTE_PREFIX_005B
SERVICE_LEVEL_005C
ROUTE_NUMBER_005D
DIRECTION_005E
HIGHWAY_DISTRICT_002
COUNTY_CODE_003
PLACE_CODE_004
FEATURES_DESC_006A
CRITICAL_FACILITY_006B
FACILITY_CARRIED_007
LOCATION_009
MIN_VERT_CLR_010
KILOPOINT_011
BASE_HWY_NETWORK_012
LRS_INV_ROUTE_013A
SUBROUTE_NO_013B
LAT_016
LONG_017
DETOUR_KILOS_019
TOLL_020
MAINTENANCE_021
OWNER_022
FUNCTIONAL_CLASS_026
YEAR_BUILT_027
TRAFFIC_LANES_ON_028A
TRAFFIC_LANES_UND_028B
ADT_029
YEAR_ADT_030
DESIGN_LOAD_031
APPR_WIDTH_MT_032
MEDIAN_CODE_033
DEGREES_SKEW_034
STRUCTURE_FLARED_035
RAILINGS_036A
TRANSITIONS_036B
APPR_RAIL_036C
APPR_RAIL_END_036D
HISTORY_037
NAVIGATION_038
NAV_VERT_CLR_MT_039
NAV_HORR_CLR_MT_040
OPEN_CLOSED_POSTED_041
SERVICE_ON_042A
SERVICE_UND_042B
STRUCTURE_KIND_043A
STRUCTURE_TYPE_043B
APPR_KIND_044A
APPR_TYPE_044B
MAIN_UNIT_SPANS_045
APPR_SPANS_046
HORR_CLR_MT_047
MAX_SPAN_LEN_MT_048
STRUCTURE_LEN_MT_049
LEFT_CURB_MT_050A
RIGHT_CURB_MT_050B
ROADWAY_WIDTH_MT_051
DECK_WIDTH_MT_052
VERT_CLR_OVER_MT_053
VERT_CLR_UND_REF_054A
VERT_CLR_UND_054B
LAT_UND_REF_055A
LAT_UND_MT_055B
LEFT_LAT_UND_MT_056
DECK_COND_058
SUPERSTRUCTURE_COND_059
SUBSTRUCTURE_COND_060
CHANNEL_COND_061
CULVERT_COND_062
OPR_RATING_METH_063
OPERATING_RATING_064
INV_RATING_METH_065
INVENTORY_RATING_066
STRUCTURAL_EVAL_067
DECK_GEOMETRY_EVAL_068
UNDCLRENCE_EVAL_069
POSTING_EVAL_070
WATERWAY_EVAL_071
APPR_ROAD_EVAL_072
WORK_PROPOSED_075A
WORK_DONE_BY_075B
IMP_LEN_MT_076
DATE_OF_INSPECT_090
INSPECT_FREQ_MONTHS_091
FRACTURE_092A
UNDWATER_LOOK_SEE_092B
SPEC_INSPECT_092C
FRACTURE_LAST_DATE_093A
UNDWATER_LAST_DATE_093B
SPEC_LAST_DATE_093C
BRIDGE_IMP_COST_094
ROADWAY_IMP_COST_095
TOTAL_IMP_COST_096
YEAR_OF_IMP_097
OTHER_STATE_CODE_098A
OTHER_STATE_PCNT_098B
OTHR_STATE_STRUC_NO_099
STRAHNET_HIGHWAY_100
PARALLEL_STRUCTURE_101
TRAFFIC_DIRECTION_102
TEMP_STRUCTURE_103
HIGHWAY_SYSTEM_104
FEDERAL_LANDS_105
YEAR_RECONSTRUCTED_106
DECK_STRUCTURE_TYPE_107
SURFACE_TYPE_108A
MEMBRANE_TYPE_108B
DECK_PROTECTION_108C
PERCENT_ADT_TRUCK_109
NATIONAL_NETWORK_110
PIER_PROTECTION_111
BRIDGE_LEN_IND_112
SCOUR_CRITICAL_113
FUTURE_ADT_114
YEAR_OF_FUTURE_ADT_115
MIN_NAV_CLR_MT_116
FED_AGENCY
DATE_LAST_UPDATE
TYPE_LAST_UPDATE
DEDUCT_CODE
REMARKS
PROGRAM_CODE
PROJ_NO
PROJ_SUFFIX
NBI_TYPE_OF_IMP
DTL_TYPE_OF_IMP
SPECIAL_CODE
STEP_CODE
STATUS_WITH_10YR_RULE
SUFFICIENCY_ASTERC
SUFFICIENCY_RATING
STATUS_NO_10YR_RULE

In [13]:
nbi_highways_df['LONG_017'].head()

0    87341340.0
1    87340890.0
2    84583800.0
3    87581200.0
4    87225400.0
Name: LONG_017, dtype: float64

Set reference to published DCMDVA Deficient Bridges Service

In [14]:
bridge_analysis_items = gis.content.search("Bridges", item_type="Feature Service")
for item in bridge_analysis_items:
    display(item)

In [15]:
bridges_item = gis.content.search("CBSA Bridges", item_type="Feature Service")[0]
bridges_item

### Explore DCVAMD CBSA NBI data on a map

In [16]:
highway_bridges_map = gis.map("Washington DC", zoomlevel=8)
highway_bridges_map

In [17]:
highway_bridges_map.add_layer(bridges_item)

### Explore Tract Centroids

In [18]:
tract_items = gis.content.search("Tracts", item_type="feature service")
for item in tract_items:
    display(item)

In [19]:
tract_centroids_item = tract_items[0]
tract_centroids_item

In [20]:
highway_bridges_map.add_layer(tract_centroids_item)

### Explore Journey to Work Commuting Tract Data

In [47]:
jtw_layers = gis.content.search("Journey to Work", item_type="feature service")
for item in jtw_layers:
    display(item)

In [51]:
work_tracts_item = jtw_layers[0]
residence_tracts_item = jtw_layers[1]

In [52]:
jtw_map = gis.map("Washington DC", zoomlevel=8)
jtw_map

In [53]:
jtw_map.add_layer([work_tracts_item])

### Selected Question for Analysis

- Given each bridge's frequency of use, current state, relative economic and strategic importance, and potential consequences of failure on the transportation network, which bridges require the most immediate attention?

# 3. Analyze and Model

#### Previous Bridge Infrastructure Prioritization

<img src="img/PrioritizationModel.png">

#### Proposed Changes

- Incorporate the relative importance of the bridge's geography into considerations for how important the bridge is. 
- Consider the alternative options to the people that use the bridge.
- In a similar fashion to our analysis of healthcare provider network loss impacts, determine and quantify changes to commuting patterns caused by the loss of each bridge.

#### Process Outline

Proposed Process

- Run Full ODCM from tracts to tracts (If it takes too long, switch to congressional districts)

- Bring "nominal commute impedance" to the commute JTW table

- For each bridge, 

    - repeat ODCM from tracts to tracts.
    
    - Bring "impaired commute impedance" to the commute JTW table

    - Compare the bridge's "impaired commute impedance" to the "nominal commute impedance" and find diff
    
    - For each diff delta record, 
        
        - Calculate the impedance difference
        
        - Calculate an impact assessment: impedance delta * the amount of people taking the impaired route * manual index
        
    - Add up the total impact assessment for the bridge.

In [4]:
arcgis.network.analysis.generate_origin_destination_cost_matrix?

In [ ]:
arcgis.network.analysis.generate_origin_destination_cost_matrix()

##### Test Run on Single Bridge (Arcpy-driven)

Helper Functions

In [7]:
def ArcGISVersionChecker():
    """
    Determines the version of ArcGIS Desktop that the user has installed and returns outputs based on the input
    parameter
    :args:
    :return:
    desktop_version (string) - String corresponding to the full version of ArcGIS Desktop
    guid_folder (string) - String corresponding to the installation GUID key
    program_files_folder (string) - String corresponding to the program files folder based on the version
    """
    installer_folder = r"C:\Windows\Installer"  # Establishes a path to the default Windows installer folder

    # Establishes a version dictionary containing the guid values and program files folder corresponding to each
    # version of ArcGIS Desktop
    # Note - find guid at:
    # HKEY_LOCAL_MACHINE > SOFTWARE > Wow6432Node > Esri > Desktop<ver> >> ProductCode key
    arcgis_version_dictionary = {
        "ArcGIS_10.5.1": {"guid": "{4740FC57-60FE-45BB-B513-3309F6B73183}", "program_files_folder": "Desktop10.5"},
        "ArcGIS_10.5": {"guid": "{76B58799-3448-4DE4-BA71-0FDFAA2A2E9A}", "program_files_folder": "Desktop10.5"},
        "ArcGIS_10.4": {"guid": "{72E7DF0D-FFEE-43CE-A5FA-43DFC25DC087}", "program_files_folder": "Desktop10.4"},
        "ArcGIS_10.3.1": {"guid": "{831DD630-F230-49C6-AD41-312E8E0F9CEE}", "program_files_folder": "Desktop10.3"},
        "ArcGIS_10.3": {"guid": "{9A0BC33A-EAA8-4ED4-8D0C-CB9B42B06D7F}", "program_files_folder": "Desktop10.3"},
        "ArcGIS_10.2.2": {"guid": "{761CB033-D425-4A16-954D-EA8DEF4D053B}", "program_files_folder": "Desktop10.2"},
        "ArcGIS_10.2.1": {"guid": "{8777990C-4F53-4782-9A38-E60343B5053D}", "program_files_folder": "Desktop10.2"},
        "ArcGIS_10.2": {"guid": "{44EF0455-5764-4158-90B3-CA483BCB1F75}", "program_files_folder": "Desktop10.2"},
        "ArcGIS_10.1": {"guid": "{6C8365F4-1102-4064-B696-68842D20B933}", "program_files_folder": "Desktop10.1"}
    }

    """ Main iteration """
    # Iterate on each key in the arcgis_version_dictionary
    for version in arcgis_version_dictionary:
        # Create the installer_path variable by linking it to the installer_folder string
        installer_path = str(installer_folder) + "\\" + str(arcgis_version_dictionary[version]["guid"])

        # Perform verification to determine if the installer_path exists
        if arcpy.Exists(installer_path):
            # Designate the desktop_version variable for output
            desktop_version = str(version)
            # Designate the guid_folder folder for output
            guid_folder = arcgis_version_dictionary[version]["guid"]
            # Designate the program_files_folder variable for output
            program_files_folder = arcgis_version_dictionary[version]["program_files_folder"]

            # Break iteration upon the first installation folder found in sequence from newest to oldest
            break

        else:
            desktop_version = None
            guid_folder = None
            program_files_folder = None

    return desktop_version, guid_folder, program_files_folder

In [44]:
def create_odcm(gdb,
                origins_fc,
                origins_id_field,
                origins_name_field,
                destinations_fc,
                destinations_id_field,
                destinations_name_field,
                odcm_name,
                network_dataset,
                impedance_value,
                impedance_attribute,
                accumulate_attribute_name=None,
                polybarrier_fc=None,
                polybarrier_id_field=None,
                polybarrier_name_field=None,
                impedance_attribute_field_name="Dij",
                use_lines=False,
                out_na_layer_name="Origins2Destinations",
                validate_inputs=False,
                method_message="\t\tcreate_odcm: ",
                output_origin_id_field_name='origin_id',
                output_origin_name_field_name='origin_name',
                output_dest_id_field_name='destination_id',
                output_dest_name_field_name='destination_name',
                logger_object=None):
    """
    create_odcm: Creates an origin-destination cost matrix
    """
    
    import os

    # Set standardized method messaging title

    print("{0}Initializing Origin-Destination Cost Matrix process...".format(method_message))

    # Establish workspace parameters
    workspace = gdb
    arcpy.env.workspace = workspace
    arcpy.env.overwriteOutput = True

    # Determine which version of arcgis desktop is being used
    DesktopVersion = ArcGISVersionChecker()[2]

    lines_param = "STRAIGHT_LINES" if use_lines else "NO_LINES"
    print("DEVNOTE: lines_param={0}".format(lines_param))

    print("{0}Acquiring Network Analyst extension...".format(method_message))
    # Acquire Network Analyst extension
    if arcpy.CheckExtension("Network") != "Available":
        # Raise a custom exception
        ##            raise LicenseError
        print("{0}ERROR: A Network Analyst License is required in order to create the ODCM; the ODCM will not be produced. Please consult with the GIS Developer if a license is expected to be available...".format(method_message))
        raise ValueError("Unable to acquire a network analyst license!")

    elif arcpy.CheckExtension("Network") == "Available":
        arcpy.CheckOutExtension("Network")

        if validate_inputs:
            # Perform verification of origins and destinations feature classes
            print("{0}Acquiring Origins...".format(method_message))
            if arcpy.Exists(origins_fc):
                pass
            else:
                print("Unable to run create_odcm with provided origins!")
                raise ValueError("Unable to run create_odcm with provided origins!")
            print("{0}Acquiring Destinations...".format(method_message))
            if arcpy.Exists(destinations_fc):
                pass
            else:
                print("Unable to run create_odcm with provided destinations!")
                raise ValueError("Unable to run create_odcm with provided destinations!")

        print("{0}Establishing Network Analyst Layer...".format(method_message))
        outlayerfile = out_na_layer_name + ".lyr"

        print("{0}The established impedance attribute is: {1}".format(method_message, str(impedance_attribute)))
        # Create variable that refers to the Impedance Attribute Field from the default ODCM Table
        impedance_attribute_field = "Total_" + impedance_attribute

        print("{0}Establishing Destination Search Distance Cut-Off...".format(method_message))
        # Import user parameter 'Impedance Cutoff'

        print("{0}Impedance Cutoff: {1}".format(method_message, str(impedance_value)))
        # Create the Composite Origin-Destination Cost Matrix Network Analysis Layer.

        print("{0}Creating Origin-Destination Cost Matrix...".format(method_message))
#         out_na_layer = arcpy.MakeODCostMatrixLayer_na(network_dataset,
#                                                       out_na_layer_name,
#                                                       impedance_attribute,
#                                                       impedance_value, "", "", "", "",
#                                                       "USE_HIERARCHY", "",
#                                                       lines_param).getOutput(0)
        
        out_na_layer = arcpy.MakeODCostMatrixLayer_na(in_network_dataset=network_dataset, 
                                                      out_network_analysis_layer=out_na_layer_name, 
                                                      impedance_attribute=impedance_attribute, 
                                                      default_cutoff=impedance_value, 
                                                      default_number_destinations_to_find=None, 
                                                      accumulate_attribute_name=accumulate_attribute_name, 
                                                      UTurn_policy=None, 
                                                      restriction_attribute_name=None, 
                                                      hierarchy=None, 
                                                      hierarchy_settings=None, 
                                                      output_path_shape=None, 
                                                      time_of_day=None).getOutput(0)        

        # Acquire the SubLayers from the Composite Origin-Destination Cost Matrix Network Analysis Layer
        print("{0}Acquiring Composite Network Analysis SubLayers...".format(method_message))
        sublayer_names = arcpy.na.GetNAClassNames(out_na_layer)
        
        # Acquire the Origin's SubLayer
        print("{0}Acquiring Origins SubLayer...".format(method_message))
        origins_layername = sublayer_names["Origins"]
        origins_fieldmap = arcpy.na.NAClassFieldMappings(out_na_layer, origins_layername)
        origins_fieldmap["Name"].mappedFieldName = origins_id_field
        # Load the Origins into the Composite Network Analysis Layer.
        print("{0}Loading Origins into Composite Network Analysis Layer...".format(method_message))
        arcpy.na.AddLocations(out_na_layer, origins_layername, origins_fc, origins_fieldmap)
        
        # Acquire the Destinations SubLayer.
        print("{0}Acquiring Destinations SubLayer...".format(method_message))
        destinations_layername = sublayer_names["Destinations"]
        destinations_fieldmap = arcpy.na.NAClassFieldMappings(out_na_layer, destinations_layername)
        destinations_fieldmap["Name"].mappedFieldName = destinations_id_field
        # Load the Destinations into the Composite Network Analysis Layer.
        print("{0}Loading Destinations into Composite Network Analysis Layer...".format(method_message))
        arcpy.na.AddLocations(out_na_layer, destinations_layername, destinations_fc, destinations_fieldmap)
        
        if polybarrier_fc:
            # Acquire the Barriers SubLayer
            print("{0}Acquiring Polygon Barriers SubLayer...".format(method_message))
            polybarrier_layername = sublayer_names["PolygonBarriers"]
            # Create a Field Map object to map the 'proForma' DIDs to the Destinations field of the Origin-Destination Cost Matrix.
            polybarrier_fieldmap = arcpy.na.NAClassFieldMappings(out_na_layer, polybarrier_layername)
            polybarrier_fieldmap["Name"].mappedFieldName = polybarrier_id_field
            # Load the Destinations into the Composite Network Analysis Layer.
            print("{0}Loading Polygonal Barriers into Composite Network Analysis Layer...".format(method_message))
            arcpy.na.AddLocations(out_na_layer, polybarrier_layername, polybarrier_fc, polybarrier_fieldmap)
        
        # Solve the Network
        print("{0}Solving Network 'Origins2Destinations' Origin-Destination Cost Matrix...".format(method_message))
        arcpy.na.Solve(out_na_layer)
        
        #Get sublayers
        #listLayers returns a list of sublayer layer objects contained in the NA
        #group layer, filtered by layer name used as a wildcard. Use the sublayer
        #name from GetNAClassNames as the wildcard string in case the sublayers
        #have non-default names.
        origins_sublayer = out_na_layer.listLayers(origins_layername)[0]
        destinations_sublayer = out_na_layer.listLayers(destinations_layername)[0]
        lines_sublayer = out_na_layer.listLayers(sublayer_names["ODLines"])[0]

#         #Use the JoinField tool to transfer OD Cost Matrix information to the
#         #output feature class
#         #Transfer the tract ID from the input Origins to the output Lines
#         arcpy.management.JoinField(lines_sublayer, "OriginID",
#                                         origins_sublayer, "ObjectID", origins_name_field)
#         #Transfer the hospital name from the input Destinations to the output Lines
#         arcpy.management.JoinField(lines_sublayer, "DestinationID",
#                                 destinations_sublayer, "ObjectID", dest_name_field)
        print("Script completed successfully")

        arcpy.CheckInExtension("Network")
        return lines_sublayer

In [45]:
def convert_gis_table_to_pddataframe(gis_table, fields_list=["*"], remove_index=False):
    """
    Converts a gis table in a file geodatabase to a pandas dataframe.
    :param gis_table: Input feature class
    :param fields_list: Optional parameter - defaults to wildcard ["*"]. Optionally include specific fields.
    :param remove_index: Optional parameter - defaults to False. Remove index from output dataframe.
    :return: Pandas dataframe of the feature class WITHOUT geometry and date attributes.
    """
    # Gather a list of all field names if the user did not specify field inputs
    if fields_list == ["*"]:
        fields_list = [field_object.name for field_object in arcpy.ListFields(gis_table) if field_object.type not in ["Geometry", "Date"]]

    temp_array = arcpy.da.TableToNumPyArray(gis_table, fields_list)
    df = pd.DataFrame(data=temp_array)
    if remove_index:
        df.reset_index(inplace=True)
    return df

In [68]:
def get_origin_id_from_odid(od_id):
    return od_id.split(" - ")[0]

def get_dest_id_from_odid(od_id):
    return od_id.split(" - ")[1]

def get_odid_from_ids(origin_id, dest_id):
    return "{0} - {1}".format(str(origin_id), str(dest_id))

In [117]:
# Set workspace
workspace_gdb = "C:\\Users\\albe9057\\Documents\\ANieto_SolutionEngineering\\Projects\\FedGIS\\FedGIS_2018\\Plenary_ArcGISAPIforPython\\Work\\Bridge_Criticality_Analysis\\BridgeCriticality_Arcpy_Workspace.gdb"

# Set Arcpy environment
arcpy.env.workspace = workspace_gdb
arcpy.env.overwriteOutput = True

# Set reference to origins
origin_tracts = "C:\\Users\\albe9057\\Documents\\ANieto_SolutionEngineering\\Projects\\FedGIS\\FedGIS_2018\\Plenary_ArcGISAPIforPython\\Work\\Bridge_Criticality_Analysis\\Bridge_Criticality_Analysis.gdb\\DCVAMD_CBSA_Tracts_Centroids"
origins_id_field = "ID"
origins_name_field = "NAME"

# Set reference to destinations
dest_tracts = "C:\\Users\\albe9057\\Documents\\ANieto_SolutionEngineering\\Projects\\FedGIS\\FedGIS_2018\\Plenary_ArcGISAPIforPython\\Work\\Bridge_Criticality_Analysis\\Bridge_Criticality_Analysis.gdb\\DCVAMD_CBSA_Tracts_Centroids"
dest_id_field = "ID"
dest_name_field = "NAME"

# Set reference to bridges
bridges_fc = "C:\\Users\\albe9057\\Documents\\ANieto_SolutionEngineering\\Projects\\FedGIS\\FedGIS_2018\\Plenary_ArcGISAPIforPython\\Work\\Bridge_Criticality_Analysis\\Bridge_Criticality_Analysis.gdb\\DCVAMD_CBSA_DeficientBridges"
polybarrier_bridges_fc = "C:\\Users\\albe9057\\Documents\\ANieto_SolutionEngineering\\Projects\\FedGIS\\FedGIS_2018\\Plenary_ArcGISAPIforPython\\Work\\Bridge_Criticality_Analysis\\Bridge_Criticality_Analysis.gdb\\DCVAMD_CBSA_DeficientBridges_Polybarriers"
polybarriers_id_field = "OBJECTID"

# Set reference to the network dataset
network_dataset = "C:\\ArcGIS\\Business Analyst\\US_2015\\Data\\Streets Data\\NAVTEQ_2014_Q3_NA.gdb\\Routing\\Routing_ND"

# Set reference to commute table
commute_table = "C:\\Users\\albe9057\\Documents\\ANieto_SolutionEngineering\\Projects\\FedGIS\\FedGIS_2018\\Plenary_ArcGISAPIforPython\\Work\\Bridge_Criticality_Analysis\\Bridge_Criticality_Analysis.gdb\\ctpp_journey_to_work"

# Set reference to impedance values needed for odcm
impedance_value=99999
impedance_attribute="Minutes"
accumulate_attributes = ["Minutes", "Miles"]

In [118]:
# Convert the bridges feature class to a pandas dataframe
bridges_df = arcgis.SpatialDataFrame.from_featureclass(bridges_fc)
bridges_df.set_index("OBJECTID", inplace=True)
bridges_df

,STFIPS,REGION,ITEM8,ITEM5A,ITEM5B,ITEM5C,ITEM5D,ITEM5E,ITEM2,ITEM3,...,WO_2,STAT,SR1,SR2,EXTRA,STATUS,DATE,LONGDD,LATDD,SHAPE
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,51,3,000000000008299,1,4,1,00723,0,08,069,...,,1,,0160,1,AM,1202,-78.103372,39.119358,"{'x': -78.10337200021758, 'y': 39.119357999871..."
2,51,3,000000000014633,1,2,1,00211,0,07,157,...,,1,,0545,1,AM,0403,-78.217658,38.663664,"{'x': -78.21765799961696, 'y': 38.663663999893..."
3,51,3,000000000014682,1,4,1,00600,0,07,157,...,,1,,0411,1,AM,1202,-78.238283,38.681386,"{'x': -78.23828300016027, 'y': 38.681385999664..."
4,51,3,000000000014685,1,4,1,00604,0,07,157,...,,1,,0492,1,AM,1202,-78.180447,38.526731,"{'x': -78.18044700042867, 'y': 38.526731000235..."
5,51,3,000000000014693,1,4,1,00615,0,07,157,...,,1,,0301,1,AM,1202,-78.114339,38.580106,"{'x': -78.1143389996451, 'y': 38.5801060001917..."
6,51,3,000000000014703,1,4,1,00621,0,07,157,...,,1,,0329,1,AM,1202,-78.173847,38.628681,"{'x': -78.17384700003896, 'y': 38.628681000028..."
7,51,3,000000000014709,1,4,1,00622,0,07,157,...,,1,,0520,1,AM,1202,-78.170278,38.673303,"{'x': -78.17027800002961, 'y': 38.673303000133..."
8,51,3,000000000014717,1,4,1,00623,0,07,157,...,,1,,0369,1,AM,1202,-78.235542,38.714106,"{'x': -78.2355419996635, 'y': 38.7141060003916..."
9,51,3,000000000014720,1,4,1,00626,0,07,157,...,,1,,0300,1,AM,1202,-78.151586,38.705825,"{'x': -78.15158599959415, 'y': 38.705824999823..."
10,51,3,000000000014722,1,4,1,00628,0,07,157,...,,1,,0557,1,AM,1202,-78.156711,38.719422,"{'x': -78.15671100031238, 'y': 38.719422000025..."
11,51,3,000000000014750,1,4,1,00655,0,07,157,...,,1,,0557,1,AM,1202,-78.207397,38.646953,"{'x': -78.20739700037126, 'y': 38.646952999981..."
12,51,3,000000000014751,1,4,1,00659,0,07,157,...,,1,,0296,1,AM,1202,-78.119639,38.771703,"{'x': -78.11963900033953, 'y': 38.771702999893..."
13,51,3,000000000014755,1,4,1,00675,0,07,157,...,,1,,0370,1,AM,1202,-78.117464,38.720850,"{'x': -78.11746399986367, 'y': 38.720850000227..."
14,51,3,000000000018748,1,2,1,00340,0,08,187,...,,1,,0175,1,AM,1202,-78.250583,38.868786,"{'x': -78.25058299990548, 'y': 38.868786000073..."
15,51,3,000000000005444,1,4,1,00645,0,08,043,...,,1,,0572,1,AM,0403,-78.069594,39.192275,"{'x': -78.06959400016297, 'y': 39.192274999891..."
16,51,3,000000000005622,1,4,1,00613,0,07,047,...,,1,,0149,1,AM,0403,-77.907556,38.695547,"{'x': -77.90755600020918, 'y': 38.695546999794..."
17,51,3,000000000007287,1,4,1,00623,0,07,061,...,,1,,0238,1,AM,1202,-77.895286,38.943606,"{'x': -77.89528600004883, 'y': 38.943605999717..."
18,51,3,000000000007367,1,4,1,00688,0,07,061,...,,1,,0417,1,AM,0403,-77.997150,38.847019,"{'x': -77.99715000037219, 'y': 38.847018999926..."
19,51,3,000000000007411,1,4,1,00723,0,07,061,...,,1,,0111,1,AM,0403,-77.909400,38.878217,"{'x': -77.90939999981009, 'y': 38.878216999714..."
20,51,3,000000000007412,1,4,1,00723,0,07,061,...,,1,,0426,1,AM,1202,-77.905208,38.879550,"{'x': -77.90520799984927, 'y': 38.879550000032..."
21,51,3,000000000007414,1,4,1,00724,0,07,061,...,,1,,0228,1,AM,1202,-77.985342,38.905147,"{'x': -77.98534199993333, 'y': 38.905146999634..."
22,51,3,000000000014739,1,4,1,00637,0,07,157,...,,1,,0482,1,AM,1202,-78.093075,38.788608,"{'x': -78.09307500021106, 'y': 38.788607999759..."
23,51,3,000000000005578,1,2,6,00015,0,07,047,...,,1,,0142,1,AM,1202,-77.813622,38.530092,"{'x': -77.81362199955561, 'y': 38.530091999646..."
24,51,3,000000000007256,1,3,1,00245,0,07,061,...,,1,,0479,1,AM,0403,-77.784800,38.853703,"{'x': -77.78479999962025, 'y': 38.853702999693..."
25,51,3,000000000007291,1,4,1,00624,0,07,061,...,,1,,0176,1,AM,1202,-77.836528,38.953525,"{'x': -77.83652800006712, 'y': 38.953525000278..."
26,51,3,000000000007327,1,4,1,00651,0,07,061,...,,1,,0346,1,AM,1202,-77.693303,38.447194,"{'x': -77.69330299983352, 'y': 38.447193999803..."
27,51,3,000000000007347,1,4,1,00672,0,07,061,...,,1,,0486,1,AM,1202,-77.788092,38.740856,"{'x': -77.7880920003455, 'y': 38.7408560001043..."
28,51,3,000000000007388,1,4,1,00702,0,07,061,...,,1,,0379,1,AM,1202,-77.830683,38.900028,"{'x': -77.83068300032016, 'y': 38.900028000092..."
29,51,3,000000000007443,1,4,1,00787,0,07,061,...,,1,,0407,1,AM,1202,-77.816372,38.765464,"{'x': -77.8163719995681, 'y': 38.7654639999636..."
30,51,3,000000000011269,1,4,1,00685,0,09,107,...,,1,,0597,1,AM,1202,-77.731067,39.285164,"{'x': -77.73106700024181, 'y': 39.285164000018..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,51,3,2100049P0000000,1,3,1,00367,0,00,059,...,,1,,0680,1,ST,0313,-77.311986,38.947458,"{'x': -77.31198599975403, 'y': 38.947458000186..."
68,11,3,0209,1,2,1,00029,0,01,001,...,,1,,0473,1,AM,0203,-77.036422,38.962658,"{'x': -77.03642200037496, 'y': 38.962657999666..."
69,11,3,1200(RAMP D),1,1,7,00066,0,01,001,...,,1,,0470,1,MM,0503,-77.057617,38.882358,"{'x': -77.05761700022435, 'y': 38.882358000021..."
70,11,3,3300016P0000000,1,6,2,00002,0,00,001,...,,1,,0170,1,ST,0310,-77.053750,38.887556,"{'x': -77.05374999996246, 'y': 38.887555999609..."
71,24,3,200000M-0085010,1,4,1,04502,0,03,031,...,,1,,0113,1,ST,0314,-77.045000,39.001667,"{'x': -77.04500000024979, 'y': 39.001666999932..."
72,24,3,200000M-0111010,1,4,1,01536,0,03,031,...,,1,,0687,1,ST,0313,-77.130000,39.000000,"{'x': -77.12999999990006, 'y': 39.000000000399..."
73,24,3,200000M-0121010,1,4,1,00064,0,03,031,...,,1,,0516,1,ST,0314,-77.090000,39.213333,"{'x': -77.08999999980011, 'y': 39.213332999718..."
74,24,3,200000M-PK04010,1,8,1,01191,0,03,031,...,,1,,0493,1,ST,0314,-77.090000,39.041667,"{'x': -77.08999999980011, 'y': 39.041667000032..."
75,24,3,200000M-PK13010,1,4,1,00013,0,03,031,...,,1,,0398,1,ST,0313,-77.095000,39.008333,"{'x': -77.09500000014987, 'y': 39.008332999768..."
76,24,3,200000M-PK24010,1,8,1,00028,0,03,031,...,,1,,0493,1,ST,0313,-77.073333,39.010000,"{'x': -77.07333300011783, 'y': 39.010000000199..."
77,51,3,000000000000119,1,3,1,00027,0,09,013,...,,1,,0078,1,AM,1202,-77.073372,38.866028,"{'x': -77.07337200011767, 'y': 38.866027999692..."
78,51,3,000000000000138,1,3,1,00027,0,09,013,...,,1,,0450,1,AM,1202,-77.057114,38.876775,"{'x': -77.05711400041076, 'y': 38.876774999766..."
79,51,3,000000000000217,1,3,1,00120,0,09,013,...,,1,,0390,1,AM,1202,-77.117983,38.928992,"{'x': -77.11798299971565, 'y': 38.928992000280..."
80,51,3,3300003P0000000,1,6,2,00001,0,09,059,...,,1,,0510,1,ST,0309,-77.144028,38.958111,"{'x': -77.14402800019201, 'y': 38.958111000422..."
81,51,3,DAPMDWBEL001590,1,8,0,00000,0,09,059,...,,1,,0296,1,AM,1202,-77.132292,38.709403,"{'x': -77.13229200037546, 'y': 38.709403000248..."
82,11,3,0053,1,5,1,00000,0,01,001,...,,0,,0472,1,MM,0203,-77.007386,38.869597,"{'x': -77.00738599956418, 'y': 38.869596999701..."
83,24,3,200000CH0034010,1,4,1,01121,0,05,017,...,,1,,0496,1,ST,0313,-76.870000,38.453333,"{'x': -76.86999999970021, 'y': 38.453332999618..."
84,24,3,200000P-0104010,1,4,1,00014,0,03,033,...,,1,,0616,1,ST,0311,-76.933333,39.016667,"{'x': -76.93333300021777, 'y': 39.016667000082..."
85,24,3,200000P-0106010,1,4,1,03642,0,03,033,...,,1,,0594,1,ST,0311,-76.920000,38.975000,"{'x': -76.91999999960024, 'y': 38.974999999550..."
86,24,3,200000P-0189010,1,4,1,00020,0,03,033,...,,1,,0484,1,ST,0311,-76.901667,39.020000,"{'x': -76.9016670004317, 'y': 39.0200000000000..."
87,24,3,200000P-0194010,1,4,1,00018,0,03,033,...,,1,,0432,1,ST,0311,-76.923333,39.073333,"{'x': -76.92333300041759, 'y': 39.073332999818..."
88,24,3,200000P-0289010,1,4,1,01210,0,03,033,...,,1,,0345,1,ST,0311,-76.893333,38.930000,"{'x': -76.89333300011782, 'y': 38.930000000000..."
89,24,3,200000P-0307010,1,4,1,00122,0,03,033,...,,1,,0182,1,ST,0311,-76.940000,38.801667,"{'x': -76.94000000009987, 'y': 38.801667000331..."
90,24,3,200000P-0309010,1,4,1,00148,0,03,033,...,,1,,0060,1,ST,0311,-76.971667,38.790000,"{'x': -76.97166699993204, 'y': 38.790000000099..."
91,24,3,200000P-0160010,1,4,1,00055,0,03,033,...,,1,,0476,1,AM,0303,-76.846417,39.094761,"{'x': -76.84641700034427, 'y': 39.094760999620..."
92,24,3,200000P-0403010,1,4,1,00229,0,03,033,...,,1,,0242,1,ST,0311,-76.741667,38.688333,"{'x': -76.74166700003201, 'y': 38.688332999868..."
93,24,3,200000P-0580010,1,4,1,04080,0,03,033,...,,1,,0355,1,ST,0311,-76.846667,38.746667,"{'x': -76.84666700018187, 'y': 38.746667000082..."
94,24,3,200000P-0581010,1,4,1,03465,0,03,033,...,,1,,0450,1,ST,0311,-76.826667,38.876667,"{'x': -76.82666699968223, 'y': 38.876667000181..."
95,24,3,200000P-0599010,1,4,1,00072,0,03,033,...,,1,,0020,1,ST,0311,-76.693333,38.951667,"{'x': -76.69333299961818, 'y': 38.951667000032..."
96,24,3,100000040018012,1,3,1,00004,0,05,009,...,,1,,0673,1,AM,1202,-76.651808,38.709242,"{'x': -76.65180800023899, 'y': 38.709242000018..."

In [119]:
# Convert the commute table to a pandas dataframe
commute_df = convert_gis_table_to_pddataframe(commute_table)
commute_df['ORIGIN_DESTINATION_ID'] = commute_df.apply(lambda row: get_odid_from_ids(row['RESIDENCE_TRACT'], row['WORK_TRACT']), axis=1)
commute_df

RuntimeError: Cannot acquire a lock.

In [58]:
# Run nominal ODCM using tracts to tracts
nominal_odcm = create_odcm(gdb=workspace_gdb,
                           origins_fc=origin_tracts,
                           origins_id_field=origins_id_field,
                           origins_name_field=origins_name_field,
                           destinations_fc=dest_tracts,
                           destinations_id_field=dest_id_field,
                           destinations_name_field=dest_name_field,
                           odcm_name="nominal_baseline",
                           network_dataset=network_dataset,
                           impedance_value=impedance_value,
                           impedance_attribute=impedance_attribute,
                           accumulate_attribute_name=accumulate_attributes,
                           polybarrier_fc=None,
                           polybarrier_id_field=None,
                           polybarrier_name_field=None,
                           impedance_attribute_field_name="Dij",
                           use_lines=False,
                           out_na_layer_name="Origins2Destinations",
                           validate_inputs=False,
                           method_message="create_odcm: ",
                           output_origin_id_field_name='origin_id',
                           output_origin_name_field_name='origin_name',
                           output_dest_id_field_name='destination_id',
                           output_dest_name_field_name='destination_name',
                           logger_object=None)

# Convert the odcm gis table to a pandas dataframe
print("Calculating ID Fields...")
nominal_odcm_df = convert_gis_table_to_pddataframe(nominal_odcm)
nominal_odcm_df['OriginID'] = nominal_odcm_df.apply(lambda row: get_origin_id_from_odid(row['Name']), axis=1)
nominal_odcm_df['DestinationID'] = nominal_odcm_df.apply(lambda row: get_dest_id_from_odid(row['Name']), axis=1)

nominal_odcm_df.head()

create_odcm: Initializing Origin-Destination Cost Matrix process...
DEVNOTE: lines_param=NO_LINES
create_odcm: Acquiring Network Analyst extension...
create_odcm: Establishing Network Analyst Layer...
create_odcm: The established impedance attribute is: Minutes
create_odcm: Establishing Destination Search Distance Cut-Off...
create_odcm: Impedance Cutoff: 99999
create_odcm: Creating Origin-Destination Cost Matrix...
create_odcm: Acquiring Composite Network Analysis SubLayers...
create_odcm: Acquiring Origins SubLayer...
create_odcm: Loading Origins into Composite Network Analysis Layer...
create_odcm: Acquiring Destinations SubLayer...
create_odcm: Loading Destinations into Composite Network Analysis Layer...
create_odcm: Solving Network 'Origins2Destinations' Origin-Destination Cost Matrix...
Script completed successfully

,ObjectID,Name,OriginID,DestinationID,DestinationRank,Shape_Length,Total_Minutes,Total_TravelTime,Total_Miles,Total_Kilometers,Total_TimeAt1KPH,Total_WalkTime,Total_TruckTravelTime
0,1,51177020203 - 51177020203,51177020203,51177020203,1,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,2,51177020203 - 51177020204,51177020203,51177020204,2,0.027551,4.896602,NaN,NaN,NaN,NaN,NaN,NaN
2,3,51177020203 - 51177020205,51177020203,51177020205,3,0.035243,5.620704,NaN,NaN,NaN,NaN,NaN,NaN
3,4,51177020203 - 51177020201,51177020203,51177020201,4,0.034878,8.261865,NaN,NaN,NaN,NaN,NaN,NaN
4,5,51177020203 - 51177020306,51177020203,51177020306,5,0.066673,8.356987,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
# Set iteration: Structurally Deficient Bridges in DC Metropolitan Region from NBI data

# Build list of buffered bridges
bridges_list = [row[0] for row in arcpy.da.SearchCursor(polybarrier_bridges_fc, polybarriers_id_field)]

# For each bridge
for bridge in bridges_list:
    print("\nProcessing bridge {0} of {1}...".format(str(bridge), str(len(bridges_list))))
    # Set where clause
    bridge_sql = "{0} = {1}".format(arcpy.AddFieldDelimiters(polybarrier_bridges_fc, polybarriers_id_field), bridge)
    
    # Export feature to act as a single polyline barrier
    polybarrier_bridge_fc = arcpy.Select_analysis(polybarrier_bridges_fc, "{0}/Bridge_{1}".format(workspace_gdb, str(bridge)), bridge_sql)
    
    # Run impaired ODCM using tracts to tracts, using a bridge feature as a polygon barrier
    impaired_odcm = create_odcm(gdb=workspace_gdb,
                            origins_fc=origin_tracts,
                            origins_id_field=origins_id_field,
                            origins_name_field=origins_name_field,
                            destinations_fc=dest_tracts,
                            destinations_id_field=dest_id_field,
                            destinations_name_field=dest_name_field,
                            odcm_name="impaired_test",
                            network_dataset=network_dataset,
                            impedance_value=impedance_value,
                            impedance_attribute=impedance_attribute,
                            accumulate_attribute_name=accumulate_attributes,
                            polybarrier_fc=polybarrier_bridge_fc,
                            polybarrier_id_field=polybarriers_id_field,
                            polybarrier_name_field="ITEM6A",
                            impedance_attribute_field_name="Dij",
                            use_lines=False,
                            out_na_layer_name="Origins2Destinations",
                            validate_inputs=False,
                            method_message="create_odcm: ",
                            output_origin_id_field_name='origin_id',
                            output_origin_name_field_name='origin_name',
                            output_dest_id_field_name='destination_id',
                            output_dest_name_field_name='destination_name',
                            logger_object=None)

    # Convert the odcm gis table to a pandas dataframe
    impaired_odcm_df = convert_gis_table_to_pddataframe(impaired_odcm)
    impaired_odcm_df['OriginID'] = impaired_odcm_df.apply(lambda row: get_origin_id_from_odid(row['Name']), axis=1)
    impaired_odcm_df['DestinationID'] = impaired_odcm_df.apply(lambda row: get_dest_id_from_odid(row['Name']), axis=1)
    
    # Join nominal and impaired ODCM dataframes
    nom_imp_odcm_df = pd.merge(nominal_odcm_df, impaired_odcm_df, how="left", on="Name")
    
    # Join nominal+impaired ODCM dataframe to commute dataframe (inner join; remove anything not common)
    commute_impacts_df = pd.merge(commute_df, nom_imp_odcm_df, how="inner", left_on="ORIGIN_DESTINATION_ID", right_on="Name")
    
    # Identify deltas in impedance
    commute_impacts_df['minutes_diff'] = commute_impacts_df['Total_Minutes_x'] - commute_impacts_df['Total_Minutes_y']
    commute_impacts_df['miles_diff'] = commute_impacts_df['Total_Miles_x'] - commute_impacts_df['Total_Miles_y']
    impacted_commuters_df = commute_impacts_df.loc[commute_impacts_df['minutes_diff'] > 0]
    
    # Calculate count and impedance sum in deltas
    routes_impacted = impacted_commuters_df.shape[0]
    commuters_impacted = commuters_impacted = impacted_commuters_df['EST'].sum()
    total_additional_minutes = impacted_commuters_df['minutes_diff'].sum()
    total_additional_miles = impacted_commuters_df['miles_diff'].sum()
    
    bridges_df.loc[bridge, "routes_impacted"] = routes_impacted
    bridges_df.loc[bridge, "commuters_impacted"] = commuters_impacted
    bridges_df.loc[bridge, "total_additional_minutes"] = total_additional_minutes
    bridges_df.loc[bridge, "total_additional_miles"] = total_additional_miles
    
    break

Processing bridge 1 of 96...
create_odcm: Initializing Origin-Destination Cost Matrix process...
DEVNOTE: lines_param=NO_LINES
create_odcm: Acquiring Network Analyst extension...
create_odcm: Establishing Network Analyst Layer...
create_odcm: The established impedance attribute is: Minutes
create_odcm: Establishing Destination Search Distance Cut-Off...
create_odcm: Impedance Cutoff: 99999
create_odcm: Creating Origin-Destination Cost Matrix...
create_odcm: Acquiring Composite Network Analysis SubLayers...
create_odcm: Acquiring Origins SubLayer...
create_odcm: Loading Origins into Composite Network Analysis Layer...
create_odcm: Acquiring Destinations SubLayer...
create_odcm: Loading Destinations into Composite Network Analysis Layer...
create_odcm: Acquiring Polygon Barriers SubLayer...
create_odcm: Loading Polygonal Barriers into Composite Network Analysis Layer...
create_odcm: Solving Network 'Origins2Destinations' Origin-Destination Cost Matrix...
Script completed successfully

In [130]:
bridges_df

,STFIPS,REGION,ITEM8,ITEM5A,ITEM5B,ITEM5C,ITEM5D,ITEM5E,ITEM2,ITEM3,...,SR2,EXTRA,STATUS,DATE,LONGDD,LATDD,SHAPE,commuters_impacted,total_additional_minutes,routes_impacted
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,51,3,000000000008299,1,4,1,00723,0,08,069,...,0160,1,AM,1202,-78.103372,39.119358,"{'x': -78.10337200021758, 'y': 39.119357999871...",235.0,0.080726,14.0
2,51,3,000000000014633,1,2,1,00211,0,07,157,...,0545,1,AM,0403,-78.217658,38.663664,"{'x': -78.21765799961696, 'y': 38.663663999893...",NaN,NaN,NaN
3,51,3,000000000014682,1,4,1,00600,0,07,157,...,0411,1,AM,1202,-78.238283,38.681386,"{'x': -78.23828300016027, 'y': 38.681385999664...",NaN,NaN,NaN
4,51,3,000000000014685,1,4,1,00604,0,07,157,...,0492,1,AM,1202,-78.180447,38.526731,"{'x': -78.18044700042867, 'y': 38.526731000235...",NaN,NaN,NaN
5,51,3,000000000014693,1,4,1,00615,0,07,157,...,0301,1,AM,1202,-78.114339,38.580106,"{'x': -78.1143389996451, 'y': 38.5801060001917...",NaN,NaN,NaN
6,51,3,000000000014703,1,4,1,00621,0,07,157,...,0329,1,AM,1202,-78.173847,38.628681,"{'x': -78.17384700003896, 'y': 38.628681000028...",NaN,NaN,NaN
7,51,3,000000000014709,1,4,1,00622,0,07,157,...,0520,1,AM,1202,-78.170278,38.673303,"{'x': -78.17027800002961, 'y': 38.673303000133...",NaN,NaN,NaN
8,51,3,000000000014717,1,4,1,00623,0,07,157,...,0369,1,AM,1202,-78.235542,38.714106,"{'x': -78.2355419996635, 'y': 38.7141060003916...",NaN,NaN,NaN
9,51,3,000000000014720,1,4,1,00626,0,07,157,...,0300,1,AM,1202,-78.151586,38.705825,"{'x': -78.15158599959415, 'y': 38.705824999823...",NaN,NaN,NaN
10,51,3,000000000014722,1,4,1,00628,0,07,157,...,0557,1,AM,1202,-78.156711,38.719422,"{'x': -78.15671100031238, 'y': 38.719422000025...",NaN,NaN,NaN
11,51,3,000000000014750,1,4,1,00655,0,07,157,...,0557,1,AM,1202,-78.207397,38.646953,"{'x': -78.20739700037126, 'y': 38.646952999981...",NaN,NaN,NaN
12,51,3,000000000014751,1,4,1,00659,0,07,157,...,0296,1,AM,1202,-78.119639,38.771703,"{'x': -78.11963900033953, 'y': 38.771702999893...",NaN,NaN,NaN
13,51,3,000000000014755,1,4,1,00675,0,07,157,...,0370,1,AM,1202,-78.117464,38.720850,"{'x': -78.11746399986367, 'y': 38.720850000227...",NaN,NaN,NaN
14,51,3,000000000018748,1,2,1,00340,0,08,187,...,0175,1,AM,1202,-78.250583,38.868786,"{'x': -78.25058299990548, 'y': 38.868786000073...",NaN,NaN,NaN
15,51,3,000000000005444,1,4,1,00645,0,08,043,...,0572,1,AM,0403,-78.069594,39.192275,"{'x': -78.06959400016297, 'y': 39.192274999891...",NaN,NaN,NaN
16,51,3,000000000005622,1,4,1,00613,0,07,047,...,0149,1,AM,0403,-77.907556,38.695547,"{'x': -77.90755600020918, 'y': 38.695546999794...",NaN,NaN,NaN
17,51,3,000000000007287,1,4,1,00623,0,07,061,...,0238,1,AM,1202,-77.895286,38.943606,"{'x': -77.89528600004883, 'y': 38.943605999717...",NaN,NaN,NaN
18,51,3,000000000007367,1,4,1,00688,0,07,061,...,0417,1,AM,0403,-77.997150,38.847019,"{'x': -77.99715000037219, 'y': 38.847018999926...",NaN,NaN,NaN
19,51,3,000000000007411,1,4,1,00723,0,07,061,...,0111,1,AM,0403,-77.909400,38.878217,"{'x': -77.90939999981009, 'y': 38.878216999714...",NaN,NaN,NaN
20,51,3,000000000007412,1,4,1,00723,0,07,061,...,0426,1,AM,1202,-77.905208,38.879550,"{'x': -77.90520799984927, 'y': 38.879550000032...",NaN,NaN,NaN
21,51,3,000000000007414,1,4,1,00724,0,07,061,...,0228,1,AM,1202,-77.985342,38.905147,"{'x': -77.98534199993333, 'y': 38.905146999634...",NaN,NaN,NaN
22,51,3,000000000014739,1,4,1,00637,0,07,157,...,0482,1,AM,1202,-78.093075,38.788608,"{'x': -78.09307500021106, 'y': 38.788607999759...",NaN,NaN,NaN
23,51,3,000000000005578,1,2,6,00015,0,07,047,...,0142,1,AM,1202,-77.813622,38.530092,"{'x': -77.81362199955561, 'y': 38.530091999646...",NaN,NaN,NaN
24,51,3,000000000007256,1,3,1,00245,0,07,061,...,0479,1,AM,0403,-77.784800,38.853703,"{'x': -77.78479999962025, 'y': 38.853702999693...",NaN,NaN,NaN
25,51,3,000000000007291,1,4,1,00624,0,07,061,...,0176,1,AM,1202,-77.836528,38.953525,"{'x': -77.83652800006712, 'y': 38.953525000278...",NaN,NaN,NaN
26,51,3,000000000007327,1,4,1,00651,0,07,061,...,0346,1,AM,1202,-77.693303,38.447194,"{'x': -77.69330299983352, 'y': 38.447193999803...",NaN,NaN,NaN
27,51,3,000000000007347,1,4,1,00672,0,07,061,...,0486,1,AM,1202,-77.788092,38.740856,"{'x': -77.7880920003455, 'y': 38.7408560001043...",NaN,NaN,NaN
28,51,3,000000000007388,1,4,1,00702,0,07,061,...,0379,1,AM,1202,-77.830683,38.900028,"{'x': -77.83068300032016, 'y': 38.900028000092...",NaN,NaN,NaN
29,51,3,000000000007443,1,4,1,00787,0,07,061,...,0407,1,AM,1202,-77.816372,38.765464,"{'x': -77.8163719995681, 'y': 38.7654639999636...",NaN,NaN,NaN
30,51,3,000000000011269,1,4,1,00685,0,09,107,...,0597,1,AM,1202,-77.731067,39.285164,"{'x': -77.73106700024181, 'y': 39.285164000018...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,51,3,2100049P0000000,1,3,1,00367,0,00,059,...,0680,1,ST,0313,-77.311986,38.947458,"{'x': -77.31198599975403, 'y': 38.947458000186...",NaN,NaN,NaN
68,11,3,0209,1,2,1,00029,0,01,001,...,0473,1,AM,0203,-77.036422,38.962658,"{'x': -77.03642200037496, 'y': 38.962657999666...",NaN,NaN,NaN
69,11,3,1200(RAMP D),1,1,7,00066,0,01,001,...,0470,1,MM,0503,-77.057617,38.882358,"{'x': -77.05761700022435, 'y': 38.882358000021...",NaN,NaN,NaN
70,11,3,3300016P0000000,1,6,2,00002,0,00,001,...,0170,1,ST,0310,-77.053750,38.887556,"{'x': -77.05374999996246, 'y': 38.887555999609...",NaN,NaN,NaN
71,24,3,200000M-0085010,1,4,1,04502,0,03,031,...,0113,1,ST,0314,-77.045000,39.001667,"{'x': -77.04500000024979, 'y': 39.001666999932...",NaN,NaN,NaN
72,24,3,200000M-0111010,1,4,1,01536,0,03,031,...,0687,1,ST,0313,-77.130000,39.000000,"{'x': -77.12999999990006, 'y': 39.000000000399...",NaN,NaN,NaN
73,24,3,200000M-0121010,1,4,1,00064,0,03,031,...,0516,1,ST,0314,-77.090000,39.213333,"{'x': -77.08999999980011, 'y': 39.213332999718...",NaN,NaN,NaN
74,24,3,200000M-PK04010,1,8,1,01191,0,03,031,...,0493,1,ST,0314,-77.090000,39.041667,"{'x': -77.08999999980011, 'y': 39.041667000032...",NaN,NaN,NaN
75,24,3,200000M-PK13010,1,4,1,00013,0,03,031,...,0398,1,ST,0313,-77.095000,39.008333,"{'x': -77.09500000014987, 'y': 39.008332999768...",NaN,NaN,NaN
76,24,3,200000M-PK24010,1,8,1,00028,0,03,031,...,0493,1,ST,0313,-77.073333,39.010000,"{'x': -77.07333300011783, 'y': 39.010000000199...",NaN,NaN,NaN
77,51,3,000000000000119,1,3,1,00027,0,09,013,...,0078,1,AM,1202,-77.073372,38.866028,"{'x': -77.07337200011767, 'y': 38.866027999692...",NaN,NaN,NaN
78,51,3,000000000000138,1,3,1,00027,0,09,013,...,0450,1,AM,1202,-77.057114,38.876775,"{'x': -77.05711400041076, 'y': 38.876774999766...",NaN,NaN,NaN
79,51,3,000000000000217,1,3,1,00120,0,09,013,...,0390,1,AM,1202,-77.117983,38.928992,"{'x': -77.11798299971565, 'y': 38.928992000280...",NaN,NaN,NaN
80,51,3,3300003P0000000,1,6,2,00001,0,09,059,...,0510,1,ST,0309,-77.144028,38.958111,"{'x': -77.14402800019201, 'y': 38.958111000422...",NaN,NaN,NaN
81,51,3,DAPMDWBEL001590,1,8,0,00000,0,09,059,...,0296,1,AM,1202,-77.132292,38.709403,"{'x': -77.13229200037546, 'y': 38.709403000248...",NaN,NaN,NaN
82,11,3,0053,1,5,1,00000,0,01,001,...,0472,1,MM,0203,-77.007386,38.869597,"{'x': -77.00738599956418, 'y': 38.869596999701...",NaN,NaN,NaN
83,24,3,200000CH0034010,1,4,1,01121,0,05,017,...,0496,1,ST,0313,-76.870000,38.453333,"{'x': -76.86999999970021, 'y': 38.453332999618...",NaN,NaN,NaN
84,24,3,200000P-0104010,1,4,1,00014,0,03,033,...,0616,1,ST,0311,-76.933333,39.016667,"{'x': -76.93333300021777, 'y': 39.016667000082...",NaN,NaN,NaN
85,24,3,200000P-0106010,1,4,1,03642,0,03,033,...,0594,1,ST,0311,-76.920000,38.975000,"{'x': -76.91999999960024, 'y': 38.974999999550...",NaN,NaN,NaN
86,24,3,200000P-0189010,1,4,1,00020,0,03,033,...,0484,1,ST,0311,-76.901667,39.020000,"{'x': -76.9016670004317, 'y': 39.0200000000000...",NaN,NaN,NaN
87,24,3,200000P-0194010,1,4,1,00018,0,03,033,...,0432,1,ST,0311,-76.923333,39.073333,"{'x': -76.92333300041759, 'y': 39.073332999818...",NaN,NaN,NaN
88,24,3,200000P-0289010,1,4,1,01210,0,03,033,...,0345,1,ST,0311,-76.893333,38.930000,"{'x': -76.89333300011782, 'y': 38.930000000000...",NaN,NaN,NaN
89,24,3,200000P-0307010,1,4,1,00122,0,03,033,...,0182,1,ST,0311,-76.940000,38.801667,"{'x': -76.94000000009987, 'y': 38.801667000331...",NaN,NaN,NaN
90,24,3,200000P-0309010,1,4,1,00148,0,03,033,...,0060,1,ST,0311,-76.971667,38.790000,"{'x': -76.97166699993204, 'y': 38.790000000099...",NaN,NaN,NaN
91,24,3,200000P-0160010,1,4,1,00055,0,03,033,...,0476,1,AM,0303,-76.846417,39.094761,"{'x': -76.84641700034427, 'y': 39.094760999620...",NaN,NaN,NaN
92,24,3,200000P-0403010,1,4,1,00229,0,03,033,...,0242,1,ST,0311,-76.741667,38.688333,"{'x': -76.74166700003201, 'y': 38.688332999868...",NaN,NaN,NaN
93,24,3,200000P-0580010,1,4,1,04080,0,03,033,...,0355,1,ST,0311,-76.846667,38.746667,"{'x': -76.84666700018187, 'y': 38.746667000082...",NaN,NaN,NaN
94,24,3,200000P-0581010,1,4,1,03465,0,03,033,...,0450,1,ST,0311,-76.826667,38.876667,"{'x': -76.82666699968223, 'y': 38.876667000181...",NaN,NaN,NaN
95,24,3,200000P-0599010,1,4,1,00072,0,03,033,...,0020,1,ST,0311,-76.693333,38.951667,"{'x': -76.69333299961818, 'y': 38.951667000032...",NaN,NaN,NaN
96,24,3,100000040018012,1,3,1,00004,0,05,009,...,0673,1,AM,1202,-76.651808,38.709242,"{'x': -76.65180800023899, 'y': 38.709242000018...",NaN,NaN,NaN

In [48]:
impaired_odcm = create_odcm(gdb=workspace_gdb,
                            origins_fc=origin_tracts,
                            origins_id_field=origins_id_field,
                            origins_name_field=origins_name_field,
                            destinations_fc=dest_tracts,
                            destinations_id_field=dest_id_field,
                            destinations_name_field=dest_name_field,
                            odcm_name="impaired_test",
                            network_dataset=network_dataset,
                            impedance_value=impedance_value,
                            impedance_attribute=impedance_attribute,
                            accumulate_attribute_name=accumulate_attributes,
                            polybarrier_fc=polybarrier_bridge_fc,
                            polybarrier_id_field=polybarriers_id_field,
                            polybarrier_name_field="ITEM6A",
                            impedance_attribute_field_name="Dij",
                            use_lines=False,
                            out_na_layer_name="Origins2Destinations",
                            validate_inputs=False,
                            method_message="create_odcm: ",
                            output_origin_id_field_name='origin_id',
                            output_origin_name_field_name='origin_name',
                            output_dest_id_field_name='destination_id',
                            output_dest_name_field_name='destination_name',
                            logger_object=None)

# Convert the odcm gis table to a pandas dataframe
impaired_odcm_df = convert_gis_table_to_pddataframe(impaired_odcm)
impaired_odcm_df['OriginID'] = impaired_odcm_df.apply(lambda row: get_origin_id_from_odid(row['Name']), axis=1)
impaired_odcm_df['DestinationID'] = impaired_odcm_df.apply(lambda row: get_dest_id_from_odid(row['Name']), axis=1)
impaired_odcm_df.head()

create_odcm: Initializing Origin-Destination Cost Matrix process...
DEVNOTE: lines_param=NO_LINES
create_odcm: Acquiring Network Analyst extension...
create_odcm: Establishing Network Analyst Layer...
create_odcm: The established impedance attribute is: Minutes
create_odcm: Establishing Destination Search Distance Cut-Off...
create_odcm: Impedance Cutoff: 99999
create_odcm: Creating Origin-Destination Cost Matrix...
create_odcm: Acquiring Composite Network Analysis SubLayers...
create_odcm: Acquiring Origins SubLayer...
create_odcm: Loading Origins into Composite Network Analysis Layer...
create_odcm: Acquiring Destinations SubLayer...
create_odcm: Loading Destinations into Composite Network Analysis Layer...
create_odcm: Acquiring Polygon Barriers SubLayer...
create_odcm: Loading Polygonal Barriers into Composite Network Analysis Layer...
create_odcm: Solving Network 'Origins2Destinations' Origin-Destination Cost Matrix...
Script completed successfully
   ObjectID                       Name  OriginID  DestinationID  \
0         1  51177020203 - 51177020203         1              1
1         2  51177020203 - 51177020204         1              2
2         3  51177020203 - 51177020205         1              3
3         4  51177020203 - 51177020201         1            280
4         5  51177020203 - 51177020306         1              5

   DestinationRank  Shape_Length  Total_Minutes  Total_TravelTime  \
0                1      0.000000       0.000000               NaN
1                2      0.027551       4.896602               NaN
2                3      0.035243       5.620704               NaN
3                4      0.034878       8.261865               NaN
4                5      0.066673       8.356987               NaN

   Total_Miles  Total_Kilometers  Total_TimeAt1KPH  Total_WalkTime  \
0     0.000000               NaN               NaN             NaN
1     2.028405               NaN               NaN             NaN
2     3.030125               NaN               NaN             NaN
3     5.051924               NaN               NaN             NaN
4     4.452307               NaN               NaN             NaN

   Total_TruckTravelTime
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN

In [59]:
nominal_odcm_df.describe()

,ObjectID,DestinationRank,Shape_Length,Total_Minutes,Total_TravelTime,Total_Miles,Total_Kilometers,Total_TimeAt1KPH,Total_WalkTime,Total_TruckTravelTime
count,1.841449e+06,1.841449e+06,1.841449e+06,1.841449e+06,0.0,0.0,0.0,0.0,0.0,0.0
mean,9.207250e+05,6.790000e+02,4.161167e-01,4.866376e+01,NaN,NaN,NaN,NaN,NaN,NaN
std,5.315807e+05,3.917322e+02,2.719267e-01,2.458835e+01,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.603630e+05,3.400000e+02,2.056220e-01,3.032476e+01,NaN,NaN,NaN,NaN,NaN,NaN
50%,9.207250e+05,6.790000e+02,3.564746e-01,4.476920e+01,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.381087e+06,1.018000e+03,5.773855e-01,6.383995e+01,NaN,NaN,NaN,NaN,NaN,NaN
max,1.841449e+06,1.357000e+03,1.931186e+00,1.732457e+02,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
impaired_odcm_df.describe()

,ObjectID,DestinationRank,Shape_Length,Total_Minutes,Total_TravelTime,Total_Miles,Total_Kilometers,Total_TimeAt1KPH,Total_WalkTime,Total_TruckTravelTime
count,1.841449e+06,1.841449e+06,1.841449e+06,1.841449e+06,0.0,1.841449e+06,0.0,0.0,0.0,0.0
mean,9.207250e+05,6.790000e+02,4.161167e-01,4.994929e+01,NaN,3.496092e+01,NaN,NaN,NaN,NaN
std,5.315807e+05,3.917322e+02,2.719267e-01,2.569068e+01,NaN,2.188524e+01,NaN,NaN,NaN,NaN
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN
25%,4.603630e+05,3.400000e+02,2.056220e-01,3.075504e+01,NaN,1.800332e+01,NaN,NaN,NaN,NaN
50%,9.207250e+05,6.790000e+02,3.564746e-01,4.571830e+01,NaN,3.080163e+01,NaN,NaN,NaN,NaN
75%,1.381087e+06,1.018000e+03,5.773855e-01,6.571932e+01,NaN,4.824274e+01,NaN,NaN,NaN,NaN
max,1.841449e+06,1.357000e+03,1.931186e+00,1.941358e+02,NaN,1.555229e+02,NaN,NaN,NaN,NaN

In [61]:
# Join nominal and impaired ODCM dataframes
nom_imp_odcm_df = pd.merge(nominal_odcm_df, impaired_odcm_df, how="left", on="Name")
nom_imp_odcm_df

,ObjectID_x,Name,OriginID_x,DestinationID_x,DestinationRank_x,Shape_Length_x,Total_Minutes_x,Total_TravelTime_x,Total_Miles_x,Total_Kilometers_x,...,DestinationID_y,DestinationRank_y,Shape_Length_y,Total_Minutes_y,Total_TravelTime_y,Total_Miles_y,Total_Kilometers_y,Total_TimeAt1KPH_y,Total_WalkTime_y,Total_TruckTravelTime_y
0,1,51177020203 - 51177020203,51177020203,51177020203,1,0.000000,0.000000,NaN,NaN,NaN,...,51177020203,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
1,2,51177020203 - 51177020204,51177020203,51177020204,2,0.027551,4.896602,NaN,NaN,NaN,...,51177020204,2,0.027551,4.896602,NaN,2.028405,NaN,NaN,NaN,NaN
2,3,51177020203 - 51177020205,51177020203,51177020205,3,0.035243,5.620704,NaN,NaN,NaN,...,51177020205,3,0.035243,5.620704,NaN,3.030125,NaN,NaN,NaN,NaN
3,4,51177020203 - 51177020201,51177020203,51177020201,4,0.034878,8.261865,NaN,NaN,NaN,...,51177020201,4,0.034878,8.261865,NaN,5.051924,NaN,NaN,NaN,NaN
4,5,51177020203 - 51177020306,51177020203,51177020306,5,0.066673,8.356987,NaN,NaN,NaN,...,51177020306,5,0.066673,8.356987,NaN,4.452307,NaN,NaN,NaN,NaN
5,6,51177020203 - 51177020305,51177020203,51177020305,6,0.058080,10.838541,NaN,NaN,NaN,...,51177020305,6,0.058080,10.838541,NaN,5.188537,NaN,NaN,NaN,NaN
6,7,51177020203 - 51177020202,51177020203,51177020202,7,0.033357,12.826978,NaN,NaN,NaN,...,51177020202,7,0.033357,12.826978,NaN,6.024990,NaN,NaN,NaN,NaN
7,8,51177020203 - 51177020309,51177020203,51177020309,8,0.080446,13.469722,NaN,NaN,NaN,...,51177020309,8,0.080446,13.469722,NaN,7.403000,NaN,NaN,NaN,NaN
8,9,51177020203 - 51177020307,51177020203,51177020307,9,0.086997,13.799881,NaN,NaN,NaN,...,51177020307,9,0.086997,13.799881,NaN,6.933588,NaN,NaN,NaN,NaN
9,10,51177020203 - 51630000400,51177020203,51630000400,10,0.054494,13.919760,NaN,NaN,NaN,...,51630000400,10,0.054494,13.919760,NaN,8.368094,NaN,NaN,NaN,NaN
10,11,51177020203 - 51177020107,51177020203,51177020107,11,0.059105,13.974774,NaN,NaN,NaN,...,51177020107,11,0.059105,13.974774,NaN,6.516715,NaN,NaN,NaN,NaN
11,12,51177020203 - 51177020310,51177020203,51177020310,12,0.118788,14.885694,NaN,NaN,NaN,...,51177020310,12,0.118788,14.885694,NaN,8.711997,NaN,NaN,NaN,NaN
12,13,51177020203 - 51630000302,51177020203,51630000302,13,0.052997,15.483859,NaN,NaN,NaN,...,51630000302,13,0.052997,15.483859,NaN,7.633996,NaN,NaN,NaN,NaN
13,14,51177020203 - 51177020304,51177020203,51177020304,14,0.071666,16.069192,NaN,NaN,NaN,...,51177020304,14,0.071666,16.069192,NaN,7.961599,NaN,NaN,NaN,NaN
14,15,51177020203 - 51177020308,51177020203,51177020308,15,0.098810,16.165566,NaN,NaN,NaN,...,51177020308,15,0.098810,16.165566,NaN,8.844587,NaN,NaN,NaN,NaN
15,16,51177020203 - 51630000500,51177020203,51630000500,16,0.075277,16.409165,NaN,NaN,NaN,...,51630000500,16,0.075277,16.409165,NaN,8.691232,NaN,NaN,NaN,NaN
16,17,51177020203 - 51630000100,51177020203,51630000100,17,0.067648,17.523733,NaN,NaN,NaN,...,51630000100,17,0.067648,17.523733,NaN,9.428011,NaN,NaN,NaN,NaN
17,18,51177020203 - 51179010502,51177020203,51179010502,18,0.065348,17.883304,NaN,NaN,NaN,...,51179010502,18,0.065348,17.883304,NaN,10.664772,NaN,NaN,NaN,NaN
18,19,51177020203 - 51177020110,51177020203,51177020110,19,0.107528,17.981137,NaN,NaN,NaN,...,51177020110,19,0.107528,17.981137,NaN,9.261164,NaN,NaN,NaN,NaN
19,20,51177020203 - 51177020108,51177020203,51177020108,20,0.080204,18.079244,NaN,NaN,NaN,...,51177020108,20,0.080204,18.079244,NaN,10.455150,NaN,NaN,NaN,NaN
20,21,51177020203 - 51177020109,51177020203,51177020109,21,0.096630,18.118326,NaN,NaN,NaN,...,51177020109,21,0.096630,18.118326,NaN,9.076077,NaN,NaN,NaN,NaN
21,22,51177020203 - 51630000301,51177020203,51630000301,22,0.068039,18.453485,NaN,NaN,NaN,...,51630000301,22,0.068039,18.453485,NaN,9.667448,NaN,NaN,NaN,NaN
22,23,51177020203 - 51177020114,51177020203,51177020114,23,0.117437,18.808233,NaN,NaN,NaN,...,51177020114,23,0.117437,18.808233,NaN,10.228441,NaN,NaN,NaN,NaN
23,24,51177020203 - 51630000200,51177020203,51630000200,24,0.077963,19.308081,NaN,NaN,NaN,...,51630000200,24,0.077963,19.465482,NaN,10.344871,NaN,NaN,NaN,NaN
24,25,51177020203 - 51179010406,51177020203,51179010406,25,0.073343,19.682376,NaN,NaN,NaN,...,51179010406,25,0.073343,19.682376,NaN,11.907465,NaN,NaN,NaN,NaN
25,26,51177020203 - 51179010405,51177020203,51179010405,26,0.089757,20.141576,NaN,NaN,NaN,...,51179010405,26,0.089757,20.141576,NaN,12.201507,NaN,NaN,NaN,NaN
26,27,51177020203 - 51177020112,51177020203,51177020112,27,0.135651,20.209227,NaN,NaN,NaN,...,51177020112,27,0.135651,20.209227,NaN,11.469386,NaN,NaN,NaN,NaN
27,28,51177020203 - 51177020111,51177020203,51177020111,28,0.130512,20.695272,NaN,NaN,NaN,...,51177020111,28,0.130512,20.695272,NaN,10.566106,NaN,NaN,NaN,NaN
28,29,51177020203 - 51179010304,51177020203,51179010304,29,0.120904,20.745786,NaN,NaN,NaN,...,51179010304,40,0.120904,28.574256,NaN,19.078249,NaN,NaN,NaN,NaN
29,30,51177020203 - 51179010404,51177020203,51179010404,30,0.098397,21.538365,NaN,NaN,NaN,...,51179010404,29,0.098397,21.538365,NaN,12.701690,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1841419,1841420,24009861004 - 51043010100,24009861004,51043010100,1328,1.762696,153.264951,NaN,NaN,NaN,...,51043010100,1340,1.762696,163.404621,NaN,136.222392,NaN,NaN,NaN,NaN
1841420,1841421,24009861004 - 51187020200,24009861004,51187020200,1329,1.893253,153.537565,NaN,NaN,NaN,...,51187020200,1356,1.893253,186.634092,NaN,148.490067,NaN,NaN,NaN,NaN
1841421,1841422,24009861004 - 51187020500,24009861004,51187020500,1330,1.865312,153.797286,NaN,NaN,NaN,...,51187020500,1351,1.865312,181.274476,NaN,147.162575,NaN,NaN,NaN,NaN
1841422,1841423,24009861004 - 54037972602,24009861004,54037972602,1331,1.688152,153.817522,NaN,NaN,NaN,...,54037972602,1324,1.688152,155.250252,NaN,130.621327,NaN,NaN,NaN,NaN
1841423,1841424,24009861004 - 54037972702,24009861004,54037972702,1332,1.638292,154.788628,NaN,NaN,NaN,...,54037972702,1341,1.638292,163.723491,NaN,134.610485,NaN,NaN,NaN,NaN
1841424,1841425,24009861004 - 24021766800,24009861004,24021766800,1333,1.626313,154.832101,NaN,NaN,NaN,...,24021766800,1325,1.626313,156.264830,NaN,130.563567,NaN,NaN,NaN,NaN
1841425,1841426,24009861004 - 51047930501,24009861004,51047930501,1334,1.644558,155.279524,NaN,NaN,NaN,...,51047930501,1326,1.644558,156.438336,NaN,121.350660,NaN,NaN,NaN,NaN
1841426,1841427,24009861004 - 51047930300,24009861004,51047930300,1335,1.577154,155.378115,NaN,NaN,NaN,...,51047930300,1327,1.577154,156.536927,NaN,117.831167,NaN,NaN,NaN,NaN
1841427,1841428,24009861004 - 54037972503,24009861004,54037972503,1336,1.705297,155.448470,NaN,NaN,NaN,...,54037972503,1329,1.705297,156.881200,NaN,132.343228,NaN,NaN,NaN,NaN
1841428,1841429,24009861004 - 51187020602,24009861004,51187020602,1337,1.825981,155.630081,NaN,NaN,NaN,...,51187020602,1350,1.825981,177.174915,NaN,143.092113,NaN,NaN,NaN,NaN
1841429,1841430,24009861004 - 51187020400,24009861004,51187020400,1338,1.877240,155.744947,NaN,NaN,NaN,...,51187020400,1354,1.877240,185.226609,NaN,147.962426,NaN,NaN,NaN,NaN
1841430,1841431,24009861004 - 51043010300,24009861004,51043010300,1339,1.675541,155.889334,NaN,NaN,NaN,...,51043010300,1344,1.675541,166.029004,NaN,134.636580,NaN,NaN,NaN,NaN
1841431,1841432,24009861004 - 54037972401,24009861004,54037972401,1340,1.724940,156.340927,NaN,NaN,NaN,...,54037972401,1330,1.724940,157.773656,NaN,132.123484,NaN,NaN,NaN,NaN
1841432,1841433,24009861004 - 54037972505,24009861004,54037972505,1341,1.717146,156.477408,NaN,NaN,NaN,...,54037972505,1331,1.717146,157.910138,NaN,131.906694,NaN,NaN,NaN,NaN
1841433,1841434,24009861004 - 54037972506,24009861004,54037972506,1342,1.696829,157.009604,NaN,NaN,NaN,...,54037972506,1332,1.696829,158.442334,NaN,133.474788,NaN,NaN,NaN,NaN
1841434,1841435,24009861004 - 51047930201,24009861004,51047930201,1343,1.612488,157.562055,NaN,NaN,NaN,...,51047930201,1333,1.612488,158.720867,NaN,119.461096,NaN,NaN,NaN,NaN
1841435,1841436,24009861004 - 54037972402,24009861004,54037972402,1344,1.736487,157.647237,NaN,NaN,NaN,...,54037972402,1334,1.736487,159.079966,NaN,134.528888,NaN,NaN,NaN,NaN
1841436,1841437,24009861004 - 51187020300,24009861004,51187020300,1345,1.931186,158.630140,NaN,NaN,NaN,...,51187020300,1353,1.931186,184.826043,NaN,150.636619,NaN,NaN,NaN,NaN
1841437,1841438,24009861004 - 51043010200,24009861004,51043010200,1346,1.800617,158.836415,NaN,NaN,NaN,...,51043010200,1349,1.800617,173.408268,NaN,142.016826,NaN,NaN,NaN,NaN
1841438,1841439,24009861004 - 51047930101,24009861004,51047930101,1347,1.607746,159.813505,NaN,NaN,NaN,...,51047930101,1337,1.607746,161.481364,NaN,124.350765,NaN,NaN,NaN,NaN
1841439,1841440,24009861004 - 54037972204,24009861004,54037972204,1348,1.753020,159.922974,NaN,NaN,NaN,...,54037972204,1336,1.753020,161.355704,NaN,135.042548,NaN,NaN,NaN,NaN
1841440,1841441,24009861004 - 54037972501,24009861004,54037972501,1349,1.747200,160.206237,NaN,NaN,NaN,...,54037972501,1338,1.747200,161.638967,NaN,133.967095,NaN,NaN,NaN,NaN
1841441,1841442,24009861004 - 54037972203,24009861004,54037972203,1350,1.712705,160.223259,NaN,NaN,NaN,...,54037972203,1339,1.712705,161.655989,NaN,134.172915,NaN,NaN,NaN,NaN
1841442,1841443,24009861004 - 54037972800,24009861004,54037972800,1351,1.760471,162.439978,NaN,NaN,NaN,...,54037972800,1343,1.760471,165.526503,NaN,136.624212,NaN,NaN,NaN,NaN
1841443,1841444,24009861004 - 54037972300,24009861004,54037972300,1352,1.810739,163.397362,NaN,NaN,NaN,...,54037972300,1342,1.810739,164.830091,NaN,139.896007,NaN,NaN,NaN,NaN
1841444,1841445,24009861004 - 51157950200,24009861004,51157950200,1353,1.719737,164.176296,NaN,NaN,NaN,...,51157950200,1347,1.719737,166.655069,NaN,133.110870,NaN,NaN,NaN,NaN
1841445,1841446,24009861004 - 51187020700,24009861004,51187020700,1354,1.907156,164.731087,NaN,NaN,NaN,...,51187020700,1357,1.907156,194.135782,NaN,154.896515,NaN,NaN,NaN,NaN
1841446,1841447,24009861004 - 51157950100,24009861004,51157950100,1355,1.792495,164.887911,NaN,NaN,NaN,...,51157950100,1345,1.792495,166.320641,NaN,133.909795,NaN,NaN,NaN,NaN
1841447,1841448,24009861004 - 54037972201,24009861004,54037972201,1356,1.776118,166.255300,NaN,NaN,NaN,...,54037972201,1348,1.776118,167.688030,NaN,137.831856,NaN,NaN,NaN,NaN
1841448,1841449,24009861004 - 51047930202,24009861004,51047930202,1357,1.692966,166.381470,NaN,NaN,NaN,...,51047930202,1346,1.692966,166.381470,NaN,127.949591,NaN,NaN,NaN,NaN

In [63]:
commute_table

'C:\\Users\\albe9057\\Documents\\ANieto_SolutionEngineering\\Projects\\FedGIS\\FedGIS_2018\\Plenary_ArcGISAPIforPython\\Work\\Bridge_Criticality_Analysis\\Bridge_Criticality_Analysis.gdb\\ctpp_journey_to_work'

In [72]:
# Join nominal+impaired ODCM dataframe to commute dataframe (inner join; remove anything not common)
commute_impacts_df = pd.merge(commute_df, nom_imp_odcm_df, how="inner", left_on="ORIGIN_DESTINATION_ID", right_on="Name")
commute_impacts_df

,OBJECTID,EST,MOE,RES_STATE,WORK_STATE,RESIDENCE_TRACT,WORK_TRACT,ORIGIN_DESTINATION_ID,ObjectID_x,Name,...,DestinationID_y,DestinationRank_y,Shape_Length_y,Total_Minutes_y,Total_TravelTime_y,Total_Miles_y,Total_Kilometers_y,Total_TimeAt1KPH_y,Total_WalkTime_y,Total_TruckTravelTime_y
0,867202,825,208,11,11,11001005500,11001010700,11001005500 - 11001010700,578086,11001005500 - 11001010700,...,11001010700,4,0.003900,4.306522,NaN,0.759181,NaN,NaN,NaN,NaN
1,867203,700,230,11,11,11001005002,11001010700,11001005002 - 11001010700,574022,11001005002 - 11001010700,...,11001010700,11,0.016639,5.093489,NaN,1.073180,NaN,NaN,NaN,NaN
2,867204,630,187,11,11,11001001200,11001010700,11001001200 - 11001010700,499453,11001001200 - 11001010700,...,11001010700,71,0.049780,13.730284,NaN,3.854004,NaN,NaN,NaN,NaN
3,867205,620,176,11,11,11001001001,11001010700,11001001001 - 11001010700,495387,11001001001 - 11001010700,...,11001010700,74,0.060813,15.593952,NaN,4.486366,NaN,NaN,NaN,NaN
4,867206,615,191,11,11,11001001302,11001005800,11001001302 - 11001005800,502273,11001001302 - 11001005800,...,11001005800,178,0.055764,19.415170,NaN,5.222198,NaN,NaN,NaN,NaN
5,867207,610,158,11,11,11001001302,11001010700,11001001302 - 11001010700,502160,11001001302 - 11001010700,...,11001010700,69,0.036551,12.700429,NaN,3.992271,NaN,NaN,NaN,NaN
6,867208,605,138,11,11,11001005301,11001010700,11001005301 - 11001010700,576734,11001005301 - 11001010700,...,11001010700,9,0.008689,4.499785,NaN,0.751812,NaN,NaN,NaN,NaN
7,867209,595,180,11,11,11001007301,11001007301,11001007301 - 11001007301,599795,11001007301 - 11001007301,...,11001007301,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
8,867210,575,164,11,11,11001001001,11001001001,11001001001 - 11001001001,495306,11001001001 - 11001001001,...,11001001001,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
9,867211,565,178,11,11,11001000100,11001000100,11001000100 - 11001000100,476308,11001000100 - 11001000100,...,11001000100,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
10,867212,560,143,11,11,11001005201,11001010700,11001005201 - 11001010700,575380,11001005201 - 11001010700,...,11001010700,12,0.012456,4.595567,NaN,0.824997,NaN,NaN,NaN,NaN
11,867213,535,161,11,11,11001000100,11001010700,11001000100 - 11001010700,476318,11001000100 - 11001010700,...,11001010700,11,0.013874,7.021563,NaN,1.251623,NaN,NaN,NaN,NaN
12,867214,530,156,11,11,11001000701,11001010700,11001000701 - 11001010700,487200,11001000701 - 11001010700,...,11001010700,37,0.038702,9.759089,NaN,2.696468,NaN,NaN,NaN,NaN
13,867215,510,147,11,11,11001000801,11001000801,11001000801 - 11001000801,489878,11001000801 - 11001000801,...,11001000801,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
14,867216,510,181,11,11,11001004201,11001010700,11001004201 - 11001010700,557745,11001004201 - 11001010700,...,11001010700,18,0.012669,7.389873,NaN,1.099675,NaN,NaN,NaN,NaN
15,867217,495,151,11,11,11001000901,11001000901,11001000901 - 11001000901,492592,11001000901 - 11001000901,...,11001000901,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
16,867218,485,180,11,11,11001000801,11001010700,11001000801 - 11001010700,489929,11001000801 - 11001010700,...,11001010700,49,0.047345,12.815468,NaN,3.463044,NaN,NaN,NaN,NaN
17,867219,470,220,11,11,11001002702,11001002702,11001002702 - 11001002702,533302,11001002702 - 11001002702,...,11001002702,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
18,867220,465,195,11,11,11001002701,11001010700,11001002701 - 11001010700,532000,11001002701 - 11001010700,...,11001010700,55,0.030097,11.443037,NaN,2.494178,NaN,NaN,NaN,NaN
19,867221,460,168,11,11,11001002701,11001005800,11001002701 - 11001005800,532089,11001002701 - 11001005800,...,11001005800,140,0.041631,17.764753,NaN,3.430555,NaN,NaN,NaN,NaN
20,867222,460,142,11,11,11001006500,11001006202,11001006500 - 11001006202,586244,11001006500 - 11001006202,...,11001006202,20,0.024673,6.792461,NaN,2.462203,NaN,NaN,NaN,NaN
21,867223,455,213,11,11,11001005500,11001005500,11001005500 - 11001005500,578083,11001005500 - 11001005500,...,11001005500,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
22,867224,455,196,11,11,11001009501,11001009501,11001009501 - 11001009501,659503,11001009501 - 11001009501,...,11001009501,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
23,867225,445,311,11,11,11001011000,11001006202,11001011000 - 11001006202,697505,11001011000 - 11001006202,...,11001006202,7,0.020840,6.822677,NaN,1.886942,NaN,NaN,NaN,NaN
24,867226,435,128,51,11,51013101500,11001010700,51013101500 - 11001010700,1126375,51013101500 - 11001010700,...,11001010700,59,0.050016,10.131512,NaN,3.455647,NaN,NaN,NaN,NaN
25,867227,420,168,51,11,51013101500,11001006202,51013101500 - 11001006202,1126394,51013101500 - 11001006202,...,11001006202,79,0.068213,12.167271,NaN,4.342966,NaN,NaN,NaN,NaN
26,867228,410,163,11,11,11001005201,11001005201,11001005201 - 11001005201,575369,11001005201 - 11001005201,...,11001005201,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
27,867229,405,109,11,11,11001005800,11001005800,11001005800 - 11001005800,580797,11001005800 - 11001005800,...,11001005800,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
28,867230,400,143,11,11,11001000501,11001010700,11001000501 - 11001010700,483113,11001000501 - 11001010700,...,11001010700,21,0.021713,7.478909,NaN,1.769786,NaN,NaN,NaN,NaN
29,867231,395,133,11,11,11001005201,11001005800,11001005201 - 11001005800,575403,11001005201 - 11001005800,...,11001005800,35,0.017371,8.006700,NaN,1.398609,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98064,4067189,25,37,54,54,54037972401,54037972601,54037972401 - 54037972601,461387,54037972401 - 54037972601,...,54037972601,7,0.099436,10.208691,NaN,6.515257,NaN,NaN,NaN,NaN
98065,4067193,25,24,54,54,54037972505,54037972506,54037972505 - 54037972506,466811,54037972505 - 54037972506,...,54037972506,3,0.020496,3.564389,NaN,1.579257,NaN,NaN,NaN,NaN
98066,4067194,25,39,54,54,54037972506,54037972401,54037972506 - 54037972401,468169,54037972506 - 54037972401,...,54037972401,4,0.030675,6.756445,NaN,2.476518,NaN,NaN,NaN,NaN
98067,4067195,25,30,54,54,54037972702,54037972702,54037972702 - 54037972702,473594,54037972702 - 54037972702,...,54037972702,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
98068,4067942,20,23,54,54,54037972300,54037972204,54037972300 - 54037972204,460028,54037972300 - 54037972204,...,54037972204,5,0.111574,12.708388,NaN,8.404113,NaN,NaN,NaN,NaN
98069,4067944,20,24,54,54,54037972503,54037972503,54037972503 - 54037972503,465452,54037972503 - 54037972503,...,54037972503,1,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,NaN
98070,4067946,20,32,54,54,54037972505,54037972401,54037972505 - 54037972401,466810,54037972505 - 54037972401,...,54037972401,2,0.012386,3.154275,NaN,0.918987,NaN,NaN,NaN,NaN
98071,4067947,20,23,54,54,54037972601,54037972505,54037972601 - 54037972505,469527,54037972601 - 54037972505,...,54037972505,5,0.101023,10.742094,NaN,6.331429,NaN,NaN,NaN,NaN
98072,4067948,20,31,54,54,54037972602,54037972204,54037972602 - 54037972204,470883,54037972602 - 54037972204,...,54037972204,4,0.072239,10.852352,NaN,6.346964,NaN,NaN,NaN,NaN
98073,4067949,20,35,54,54,54037972701,54037972505,54037972701 - 54037972505,472242,54037972701 - 54037972505,...,54037972505,6,0.089130,12.796934,NaN,8.860170,NaN,NaN,NaN,NaN
98074,4068694,15,27,24,54,24021752501,54037972401,24021752501 - 54037972401,57048,24021752501 - 54037972401,...,54037972401,54,0.310471,30.028132,NaN,21.434960,NaN,NaN,NaN,NaN
98075,4069117,15,20,54,54,54037972203,54037972204,54037972203 - 54037972204,457311,54037972203 - 54037972204,...,54037972204,2,0.042354,10.620120,NaN,5.393383,NaN,NaN,NaN,NaN
98076,4069128,15,26,54,54,54037972506,54037972601,54037972506 - 54037972601,468172,54037972506 - 54037972601,...,54037972601,7,0.091562,9.968748,NaN,7.356445,NaN,NaN,NaN,NaN
98077,4069131,15,21,54,54,54037972601,54037972204,54037972601 - 54037972204,469532,54037972601 - 54037972204,...,54037972204,10,0.105275,14.187660,NaN,9.467283,NaN,NaN,NaN,NaN
98078,4069133,15,22,54,54,54037972602,54037972505,54037972602 - 54037972505,470887,54037972602 - 54037972505,...,54037972505,8,0.087431,13.538552,NaN,6.611029,NaN,NaN,NaN,NaN
98079,4069134,15,24,54,54,54037972702,54037972505,54037972702 - 54037972505,473597,54037972702 - 54037972505,...,54037972505,4,0.085770,12.158984,NaN,7.265705,NaN,NaN,NaN,NaN
98080,4069135,15,22,54,54,54037972800,54037972201,54037972800 - 54037972201,474970,54037972800 - 54037972201,...,54037972201,20,0.217059,30.168620,NaN,18.082291,NaN,NaN,NaN,NaN
98081,4070284,10,17,24,54,24021751801,54037972505,24021751801 - 54037972505,724778,24021751801 - 54037972505,...,54037972505,140,0.599766,45.061154,NaN,37.701899,NaN,NaN,NaN,NaN
98082,4070285,10,18,24,54,24021775302,54037972204,24021775302 - 54037972204,76042,24021775302 - 54037972204,...,54037972204,50,0.207647,25.029458,NaN,17.574652,NaN,NaN,NaN,NaN
98083,4070367,10,18,51,54,51153901510,54037972505,51153901510 - 54037972505,351153,51153901510 - 54037972505,...,54037972505,1032,0.501094,72.308755,NaN,54.770576,NaN,NaN,NaN,NaN
98084,4070379,10,19,51,54,51187020100,54037972601,51187020100 - 54037972601,424820,51187020100 - 54037972601,...,54037972601,29,0.490677,55.595678,NaN,38.328747,NaN,NaN,NaN,NaN
98085,4070820,10,19,54,54,54037972203,54037972503,54037972203 - 54037972503,457313,54037972203 - 54037972503,...,54037972503,4,0.092531,14.472115,NaN,8.233357,NaN,NaN,NaN,NaN
98086,4070830,10,14,54,54,54037972601,54037972401,54037972601 - 54037972401,469526,54037972601 - 54037972401,...,54037972401,4,0.099436,10.605613,NaN,6.548219,NaN,NaN,NaN,NaN
98087,4070832,10,14,54,54,54037972602,54037972201,54037972602 - 54037972201,470890,54037972602 - 54037972201,...,54037972201,11,0.107859,17.184678,NaN,9.136272,NaN,NaN,NaN,NaN
98088,4072447,4,4,24,54,24031700103,54037972505,24031700103 - 54037972505,743356,24031700103 - 54037972505,...,54037972505,1033,0.734674,64.316587,NaN,51.344669,NaN,NaN,NaN,NaN
98089,4072724,4,11,54,54,54037972401,54037972506,54037972401 - 54037972506,461385,54037972401 - 54037972506,...,54037972506,5,0.030675,6.535914,NaN,2.495788,NaN,NaN,NaN,NaN
98090,4072725,4,16,54,54,54037972402,54037972506,54037972402 - 54037972506,462743,54037972402 - 54037972506,...,54037972506,6,0.047860,8.720696,NaN,6.634983,NaN,NaN,NaN,NaN
98091,4072726,4,9,54,54,54037972402,54037972601,54037972402 - 54037972601,462746,54037972402 - 54037972601,...,54037972601,9,0.099594,12.336480,NaN,9.105121,NaN,NaN,NaN,NaN
98092,4072728,4,119,54,54,54037972601,54037972203,54037972601 - 54037972203,469534,54037972601 - 54037972203,...,54037972203,12,0.075403,14.487945,NaN,8.597650,NaN,NaN,NaN,NaN
98093,4072729,4,9,54,54,54037972601,54037972506,54037972601 - 54037972506,469529,54037972601 - 54037972506,...,54037972506,7,0.091562,11.274290,NaN,7.899523,NaN,NaN,NaN,NaN

In [73]:
commute_impacts_df.shape

(98094, 33)

In [74]:
commute_impacts_df.columns

Index(['OBJECTID', 'EST', 'MOE', 'RES_STATE', 'WORK_STATE', 'RESIDENCE_TRACT',
       'WORK_TRACT', 'ORIGIN_DESTINATION_ID', 'ObjectID_x', 'Name',
       'OriginID_x', 'DestinationID_x', 'DestinationRank_x', 'Shape_Length_x',
       'Total_Minutes_x', 'Total_TravelTime_x', 'Total_Miles_x',
       'Total_Kilometers_x', 'Total_TimeAt1KPH_x', 'Total_WalkTime_x',
       'Total_TruckTravelTime_x', 'ObjectID_y', 'OriginID_y',
       'DestinationID_y', 'DestinationRank_y', 'Shape_Length_y',
       'Total_Minutes_y', 'Total_TravelTime_y', 'Total_Miles_y',
       'Total_Kilometers_y', 'Total_TimeAt1KPH_y', 'Total_WalkTime_y',
       'Total_TruckTravelTime_y'],
      dtype='object')

In [80]:
# Identify deltas in impedance
commute_impacts_df['minutes_diff'] = commute_impacts_df['Total_Minutes_x'] - commute_impacts_df['Total_Minutes_y']
commute_impacts_df['miles_diff'] = commute_impacts_df['Total_Miles_x'] - commute_impacts_df['Total_Miles_y']
impacted_commuters_df = commute_impacts_df.loc[commute_impacts_df['minutes_diff'] > 0]
impacted_commuters_df

,OBJECTID,EST,MOE,RES_STATE,WORK_STATE,RESIDENCE_TRACT,WORK_TRACT,ORIGIN_DESTINATION_ID,ObjectID_x,Name,...,DestinationRank_y,Shape_Length_y,Total_Minutes_y,Total_TravelTime_y,Total_Miles_y,Total_Kilometers_y,Total_TimeAt1KPH_y,Total_WalkTime_y,Total_TruckTravelTime_y,diff
4,867206,615,191,11,11,11001001302,11001005800,11001001302 - 11001005800,502273,11001001302 - 11001005800,...,178,0.055764,19.415170,NaN,5.222198,NaN,NaN,NaN,NaN,7.105427e-15
42,867244,335,109,11,11,11001001001,11001005800,11001001001 - 11001005800,495524,11001001001 - 11001005800,...,186,0.084270,21.791357,NaN,5.783483,NaN,NaN,NaN,NaN,3.783142e-01
43,867245,335,127,11,11,11001003900,11001005800,11001003900 - 11001005800,552409,11001003900 - 11001005800,...,108,0.034690,15.505001,NaN,3.017491,NaN,NaN,NaN,NaN,1.776357e-15
49,867251,320,135,24,11,24031703212,11001005800,24031703212 - 11001005800,939747,24031703212 - 11001005800,...,566,0.177290,40.837533,NaN,14.242175,NaN,NaN,NaN,NaN,3.367893e+00
121,867323,230,119,24,11,24031701216,11001010700,24031701216 - 11001010700,856713,24031701216 - 11001010700,...,431,0.158922,29.881060,NaN,15.225235,NaN,NaN,NaN,NaN,3.552714e-15
136,867338,215,82,11,11,11001001100,11001005800,11001001100 - 11001005800,498274,11001001100 - 11001005800,...,220,0.083721,22.317790,NaN,5.986185,NaN,NaN,NaN,NaN,3.783142e-01
149,867351,210,103,11,11,11001005600,11001005800,11001005600 - 11001005800,579513,11001005600 - 11001005800,...,72,0.031190,10.678722,NaN,2.381577,NaN,NaN,NaN,NaN,1.776357e-15
153,867355,210,88,24,11,24031706009,11001010700,24031706009 - 11001010700,1018005,24031706009 - 11001010700,...,243,0.172503,24.238774,NaN,12.019908,NaN,NaN,NaN,NaN,3.552714e-15
169,867372,205,81,24,11,24031705902,11001010700,24031705902 - 11001010700,1011174,24031705902 - 11001010700,...,192,0.118737,20.845182,NaN,9.611949,NaN,NaN,NaN,NaN,7.105427e-15
177,867380,200,107,11,11,11001004001,11001005800,11001004001 - 11001005800,553731,11001004001 - 11001005800,...,74,0.033921,13.272514,NaN,2.576516,NaN,NaN,NaN,NaN,1.776357e-15
185,867388,200,75,51,11,51059461500,11001010700,51059461500 - 11001010700,1379203,51059461500 - 11001010700,...,477,0.235935,31.666858,NaN,16.128338,NaN,NaN,NaN,NaN,7.105427e-15
199,867402,195,97,51,11,51059461100,11001010700,51059461100 - 11001010700,1375172,51059461100 - 11001010700,...,512,0.243967,35.248443,NaN,17.757776,NaN,NaN,NaN,NaN,7.105427e-15
224,867427,185,89,24,11,24031701215,11001010700,24031701215 - 11001010700,855371,24031701215 - 11001010700,...,449,0.137847,29.785382,NaN,15.412474,NaN,NaN,NaN,NaN,3.552714e-15
233,867436,180,74,11,11,11001000502,11001005800,11001000502 - 11001005800,484550,11001000502 - 11001005800,...,100,0.047845,15.737944,NaN,3.349220,NaN,NaN,NaN,NaN,1.776357e-15
261,867464,175,106,51,11,51013101404,11001010700,51013101404 - 11001010700,1125046,51013101404 - 11001010700,...,89,0.064190,12.739325,NaN,4.697722,NaN,NaN,NaN,NaN,1.776357e-15
264,867467,170,105,11,11,11001002701,11001006202,11001002701 - 11001006202,532100,11001002701 - 11001006202,...,153,0.043831,18.475129,NaN,3.615387,NaN,NaN,NaN,NaN,3.552714e-15
268,867471,170,74,11,11,11001008301,11001010700,11001008301 - 11001010700,633818,11001008301 - 11001010700,...,99,0.045605,14.317039,NaN,2.811445,NaN,NaN,NaN,NaN,1.776357e-15
274,867477,170,127,24,11,24031703201,11001006202,24031703201 - 11001006202,930285,24031703201 - 11001006202,...,707,0.201998,45.135720,NaN,16.715906,NaN,NaN,NaN,NaN,7.003993e-03
281,867484,170,88,24,11,24033806000,11001005800,24033806000 - 11001005800,1095355,24033806000 - 11001005800,...,228,0.087528,22.279125,NaN,6.729964,NaN,NaN,NaN,NaN,1.315335e+00
300,867503,165,85,24,11,24031703212,11001006202,24031703212 - 11001006202,939749,24031703212 - 11001006202,...,638,0.180967,43.108515,NaN,15.099483,NaN,NaN,NaN,NaN,1.115943e+00
343,867546,155,66,11,11,11001001301,11001005800,11001001301 - 11001005800,500942,11001001301 - 11001005800,...,185,0.068995,21.621160,NaN,5.039036,NaN,NaN,NaN,NaN,3.552714e-15
358,867561,155,81,51,11,51059420300,11001006202,51059420300 - 11001006202,1208017,51059420300 - 11001006202,...,272,0.124305,22.746288,NaN,11.795215,NaN,NaN,NaN,NaN,1.776357e-14
359,867562,155,80,51,11,51059420600,11001006202,51059420600 - 11001006202,1214766,51059420600 - 11001006202,...,237,0.120441,20.949048,NaN,9.767145,NaN,NaN,NaN,NaN,7.105427e-15
414,867617,145,120,11,11,11001010400,11001010100,11001010400 - 11001010100,689514,11001010400 - 11001010100,...,156,0.065434,16.974912,NaN,7.141645,NaN,NaN,NaN,NaN,3.552714e-15
450,867654,140,80,24,11,24031700608,11001010700,24031700608 - 11001010700,767055,24031700608 - 11001010700,...,338,0.263588,35.718065,NaN,17.718025,NaN,NaN,NaN,NaN,7.105427e-15
457,867661,140,111,24,11,24033805000,11001010100,24033805000 - 11001010100,1074949,24033805000 - 11001010100,...,197,0.073663,19.635165,NaN,5.532146,NaN,NaN,NaN,NaN,3.552714e-15
458,867662,140,110,24,11,24033806100,11001010700,24033806100 - 11001010700,1096762,24033806100 - 11001010700,...,289,0.105119,24.864646,NaN,6.706413,NaN,NaN,NaN,NaN,5.336157e-01
466,867670,140,100,51,11,51059452400,11001006202,51059452400 - 11001006202,1349106,51059452400 - 11001006202,...,238,0.192498,21.464609,NaN,13.184037,NaN,NaN,NaN,NaN,1.421085e-14
468,867672,140,82,51,11,51510200701,11001006202,51510200701 - 11001006202,1517381,51510200701 - 11001006202,...,238,0.105037,20.807250,NaN,10.297491,NaN,NaN,NaN,NaN,7.105427e-15
491,867696,135,55,24,11,24031701701,11001010700,24031701701 - 11001010700,899986,24031701701 - 11001010700,...,275,0.081423,23.512503,NaN,6.890026,NaN,NaN,NaN,NaN,3.170036e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97180,3977684,4,10,51,51,51153901219,51600300100,51153901219 - 51600300100,305500,51153901219 - 51600300100,...,168,0.170940,29.949427,NaN,17.485328,NaN,NaN,NaN,NaN,5.412513e-01
97219,3977724,4,18,51,51,51153901228,51153901409,51153901228 - 51153901409,309480,51153901228 - 51153901409,...,83,0.216292,24.939192,NaN,15.885038,NaN,NaN,NaN,NaN,3.552714e-15
97223,3977728,4,11,51,51,51153901229,51107611020,51153901229 - 51107611020,311278,51153901229 - 51107611020,...,511,0.380595,48.958294,NaN,31.343190,NaN,NaN,NaN,NaN,7.105427e-15
97227,3977732,4,15,51,51,51153901231,51047930300,51153901231 - 51047930300,314423,51153901231 - 51047930300,...,688,0.611602,57.847069,NaN,41.611848,NaN,NaN,NaN,NaN,7.250530e+00
97299,3977804,4,10,51,51,51153901412,51013980100,51153901412 - 51013980100,333048,51153901412 - 51013980100,...,568,0.549146,55.790677,NaN,37.518920,NaN,NaN,NaN,NaN,1.421085e-14
97343,3977848,4,12,51,51,51153901505,51153900901,51153901505 - 51153900901,343662,51153901505 - 51153900901,...,332,0.400783,42.558055,NaN,30.402320,NaN,NaN,NaN,NaN,7.105427e-15
97487,3978256,4,12,51,51,51177020112,51177020403,51177020112 - 51177020403,374594,51177020112 - 51177020403,...,60,0.186953,35.383159,NaN,22.540095,NaN,NaN,NaN,NaN,7.105427e-15
97533,3978308,4,16,51,51,51177020408,51013980100,51177020408 - 51013980100,387199,51177020408 - 51013980100,...,398,0.871703,81.384156,NaN,62.734937,NaN,NaN,NaN,NaN,1.232879e-01
97539,3978314,4,17,51,51,51179010103,51059482501,51179010103 - 51059482501,388760,51179010103 - 51059482501,...,645,0.494354,58.781842,NaN,43.499899,NaN,NaN,NaN,NaN,7.105427e-15
97548,3978323,4,18,51,51,51179010105,51153901409,51179010105 - 51153901409,389678,51179010105 - 51153901409,...,218,0.358868,45.151373,NaN,33.485110,NaN,NaN,NaN,NaN,1.421085e-14
97580,3978355,4,10,51,51,51179010207,51059461202,51179010207 - 51059461202,402050,51179010207 - 51059461202,...,372,0.378075,51.123934,NaN,36.599508,NaN,NaN,NaN,NaN,1.987632e-02
97583,3978358,4,14,51,51,51179010207,51153901403,51179010207 - 51153901403,401901,51179010207 - 51153901403,...,228,0.310161,44.522692,NaN,32.790601,NaN,NaN,NaN,NaN,7.105427e-15
97584,3978359,4,15,51,51,51179010207,51153901506,51179010207 - 51153901506,402070,51179010207 - 51153901506,...,391,0.394216,51.770792,NaN,37.866601,NaN,NaN,NaN,NaN,7.105427e-15
97609,3978384,4,10,51,51,51179010210,51610500200,51179010210 - 51610500200,403430,51179010210 - 51610500200,...,394,0.506206,53.501923,NaN,41.231759,NaN,NaN,NaN,NaN,2.131628e-14
97611,3978386,4,9,51,51,51179010210,51683910402,51179010210 - 51683910402,403172,51179010210 - 51683910402,...,142,0.307396,40.145104,NaN,30.625502,NaN,NaN,NaN,NaN,7.105427e-15
97612,3978387,4,16,51,51,51179010211,51059491802,51179010211 - 51059491802,404846,51179010211 - 51059491802,...,451,0.405418,51.961583,NaN,39.236644,NaN,NaN,NaN,NaN,1.987632e-02
97623,3978400,4,15,51,51,51179010214,51683910100,51179010214 - 51683910100,408680,51179010214 - 51683910100,...,222,0.297368,45.148408,NaN,32.965719,NaN,NaN,NaN,NaN,1.421085e-14
97666,3978446,4,16,51,51,51179010406,51177020107,51179010406 - 51177020107,419331,51179010406 - 51177020107,...,17,0.077824,15.193625,NaN,8.287176,NaN,NaN,NaN,NaN,1.776357e-15
97762,3978738,4,29,51,51,51510200500,51059492000,51510200500 - 51059492000,1515044,51510200500 - 51059492000,...,621,0.237634,33.868946,NaN,16.596186,NaN,NaN,NaN,NaN,7.105427e-15
97765,3978741,4,9,51,51,51510200600,51013980100,51510200600 - 51013980100,1515918,51510200600 - 51013980100,...,113,0.075741,15.316359,NaN,6.911832,NaN,NaN,NaN,NaN,1.430624e+00
97775,3978751,4,6,51,51,51510200801,51510200406,51510200801 - 51510200406,1521265,51510200801 - 51510200406,...,67,0.057670,11.230108,NaN,4.274478,NaN,NaN,NaN,NaN,1.776357e-15
97785,3978761,4,15,51,51,51510200900,51013980100,51510200900 - 51013980100,1524016,51510200900 - 51013980100,...,82,0.050951,12.174777,NaN,4.555712,NaN,NaN,NaN,NaN,1.430624e+00
97798,3978774,4,13,51,51,51510201202,51013101404,51510201202 - 51013101404,1528073,51510201202 - 51013101404,...,83,0.064888,14.758137,NaN,4.964998,NaN,NaN,NaN,NaN,1.776357e-15
97824,3978800,4,12,51,51,51510201400,51610500200,51510201400 - 51610500200,1533764,51510201400 - 51610500200,...,280,0.136582,23.000546,NaN,8.542088,NaN,NaN,NaN,NaN,2.050962e+00
97863,3979117,4,13,51,51,51600300200,51013100100,51600300200 - 51013100100,1545784,51600300200 - 51013100100,...,161,0.143099,19.899760,NaN,8.838480,NaN,NaN,NaN,NaN,3.552714e-15
97897,3979152,4,9,51,51,51600300400,51107610506,51600300400 - 51107610506,1548877,51600300400 - 51107610506,...,539,0.330779,36.742854,NaN,24.978514,NaN,NaN,NaN,NaN,1.421085e-14
97898,3979153,4,16,51,51,51600300400,51107980100,51600300400 - 51107980100,1548512,51600300400 - 51107980100,...,174,0.176837,22.267025,NaN,13.368578,NaN,NaN,NaN,NaN,7.105427e-15
97922,3979177,4,17,51,51,51610500200,51013101701,51610500200 - 51013101701,1552510,51610500200 - 51013101701,...,102,0.101140,15.518938,NaN,7.158289,NaN,NaN,NaN,NaN,1.776357e-15
97940,3979201,4,8,51,51,51630000100,51683910100,51630000100 - 51683910100,435826,51630000100 - 51683910100,...,226,0.457379,57.192682,NaN,43.471329,NaN,NaN,NaN,NaN,7.105427e-15
98030,3981056,4,17,54,51,54037972800,51059482203,54037972800 - 51059482203,475103,54037972800 - 51059482203,...,149,0.638550,59.760022,NaN,51.576424,NaN,NaN,NaN,NaN,7.105427e-15

In [127]:
# Calculate count and impedance sum in deltas
commuters_impacted = impacted_commuters_df['EST'].sum()
total_additional_minutes = impacted_commuters_df['diff'].sum()
commuters_impacted, total_additional_minutes

(235, 0.080725894603830284)

In [27]:
# Record impedance delta sum, impedance delta average (impedance sum / delta count), and delta count for the bridge's record

In [ ]:
# Multiply each bridge's impedance delta sum by a configurable factor to determine criticality score

In [28]:
# Stack rank all bridges based on criticality score

In [29]:
# Show top five

In [31]:
# Show bottom five

##### Full Sequence (Arcpy-driven)

In [ ]:
- Run Full ODCM from tracts to tracts (If it takes too long, switch to congressional districts)

- Bring "nominal commute impedance" to the commute JTW table

- For each bridge, 

    - repeat ODCM from tracts to tracts.
    
    - Bring "impaired commute impedance" to the commute JTW table

    - Compare the bridge's "impaired commute impedance" to the "nominal commute impedance" and find diff
    
    - For each diff delta record, 
        
        - Calculate the impedance difference
        
        - Calculate an impact assessment: impedance delta * the amount of people taking the impaired route * manual index
        
    - Add up the total impact assessment for the bridge.

##### Full Sequence (Python API driven)

# 4. Interpret the Results

# 5. Repeat as Necessary

# 6. Present the Results

# 7. Make a Decision